
@{
    ViewBag.Title = ProjectUI.ProjectUI.lblProject;


}

<div class="card  ">
    <div class="card-block">
        <div class="row">

            <div class="col-sm-7 col-lg-6">  <h5> @ProjectUI.ProjectUI.lblWelcomeBack  <span id="employeeName"></span>  </h5></div>
            <div class="col-sm-5 col-lg-6">

                <label class="col-xs-8" style="text-align:end">@ProjectUI.ProjectUI.lblEnterProjectNo   </label>
                <div class="col-xs-3 controls  ">
                    <input type="number" class="form-control col-xs-4 @Resources.Common.PullRight" id="Project_No" value="0" />
                </div>
                <div class="col-xs-1 controls  ">
                    <button type="button" id="btn-search-record" class="btn   btn-success  @Resources.Common.PullRight" value="Search"> @ProjectUI.ProjectUI.lblSearch</button>
                </div>

            </div>

        </div>
    </div>
</div>




<div class="row">


    <div class="col-md-12" style="display: flex; justify-content: center;">
        <table>
            <thead>

                <tr>
                    <th>@ProjectUI.ProjectUI.lblYear</th>
                    <th>@ProjectUI.ProjectUI.lblMonth</th>
                    <th>@ProjectUI.ProjectUI.lblWeek</th>
                    <th>@ProjectUI.ProjectUI.lblProject</th>
                    <th> </th>
                </tr>

            </thead>
            <tbody>

                <tr>
                    <td>
                        <input id="yearPicker" />
                    </td>
                    <td>
                        <input id="monthPicker" />
                    </td>
                    <td>
                        <input id="weekPicker" />
                    </td>
                    <td>
                        <input id="NewOldProjectsPicker" />
                    </td>
                    <td>
                        <button type="button" id="btn-search-project-records" class="btn   btn-sm  @Resources.Common.PullRight" value="Search"> @ProjectUI.ProjectUI.lblClick</button>
                    </td>
                    <td>
                        <button type="button" id="btn-reset-project-records" style="color:darkred" class="btn   btn-sm  @Resources.Common.PullRight" value="Reset"> @ProjectUI.ProjectUI.lblReset</button>
                    </td>
                </tr>


            </tbody>
        </table>

    </div>
</div>
<div class="row showDiv" style="display:none;">


    <div class="col-md-12">


        @********************************THIS IS PROJECT SUMMAR AREA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*@

        <style>
            .progressBar {
                height: 14px;
                text-align: left;
                color: #783722;
                border: 1px solid #aaa;
                border-left: 0px;
                width: -webkit-fill-available;
            }

                .progressBar span {
                    display: inline-block;
                    font-size: 16px;
                    margin-top: -4px;
                    float: right;
                }

            .progressBarItem {
                padding: 0 !important;
            }
        </style>
        <div class="card">
            <div class="grid-main-div" style="background: #e4e5e6 ">
                <span class="  " style="font-weight: bold; margin-right: 15px !important;"> @ProjectUI.ProjectUI.lblSummaryReport</span>

                <div class="row">
                    <div class="col-md-12">
                        <div id="project-summary-grid"></div>
                    </div>
                </div>

            </div>
        </div>





        @********************************THIS IS PROJECT SUMMAR AREA END *@



    </div>

</div>
<div class="row showDiv showTotalProjectBasedOnStatus" style="display:none;">

    <div class="col-sm-4">

        <div class="row showDiv showTotalProjectBasedOnStatus" style="display:none;">






            <div class="col-md-12">
                <div class="card">
                    <div class="grid-main-div" style="background: #e4e5e6 ">
                        <span class="  " style="font-weight: bold; margin-right: 15px !important;"> @ProjectUI.ProjectUI.lblTotalProjects</span>
                        <div class="row">
                            <div class="col-md-12">

                                <div id="project-total-projects-grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






        </div>


        <div class="row showDiv " style="display:none;">






            <div class="col-md-12">
                <div class="card">
                    <div class="grid-main-div" style="background: #e4e5e6 ">
                        <span class="  " style="font-weight: bold; margin-right: 15px !important;"> @ProjectUI.ProjectUI.lblTasks</span>
                        <div class="row">
                            <div class="col-md-12">

                                <div id="project-grid-with-tasks"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






        </div>




        @********************************THIS IS EMPLOYEE TASK AREA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*@
        <div class="row showDiv" style="display:none;">
            <div class="col-md-12">
                <div class="card">
                    <div class="grid-main-div" style="background: #e4e5e6 ">
                        <span class="  " style="font-weight: bold; margin-right: 15px !important;"> @ProjectUI.ProjectUI.lblProjectDocumentsExpiry</span>

                        <div class="row">
                            <div class="col-md-12">
                                <div id="project-documents-expiry-grid"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="col-sm-8 showHide-app-dynamic-data" style="display:none;">
        <div class="card">

            <div class="grid-main-div" style="background: #e4e5e6 ">

                <div class="row">
                    <div class="col-md-11">

                        <span class="  " style="font-weight: bold; margin-right: 15px !important;"> @ProjectUI.ProjectUI.lblDetails</span>

                    </div>
                    <div class="col-md-1" style="text-align: center;cursor:pointer;" onclick="hideDynamicDataCard()">

                        <div class="close-icon" style="font-weight: bold;">X</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">


                        <div id="append-dynamic-data">-</div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>

<div class="">

    <div class="row">

        <div class="col-md-4 div-design-section" style="display:none;">
            <div class="card">
                <div class="grid-main-div" style="background: #e4e5e6 ">
                    <div class="row">
                        <div class="col-md-11">
                            
                            <span class="main-section-name" style="font-weight: bold; margin-right: 15px !important;"> </span> > @ProjectUI.ProjectUI.lblSection
                        </div>
                        <div class="col-md-1" style="text-align: center;cursor:pointer;" onclick="hideDesignSection()">
                            <div class="close-icon" style="font-weight: bold;">X</div>
                        </div>
                    </div>
                    <div id="append-section-details"></div>
                </div>
            </div>

        </div>

        <div class="col-md-8 div-sub-section" style="display:none;">
            <div class="card">
                <div class="grid-main-div" style="background: #e4e5e6">
                    <div class="row">
                        <div class="col-md-11">
                            <span class="sub-section-name" style="font-weight: bold; margin-right: 15px !important;"> @ProjectUI.ProjectUI.lblSection @ProjectUI.ProjectUI.lblDetails</span>
                        </div>
                        <div class="col-md-1" style="text-align: center;cursor:pointer;" onclick="hideSubSection()">
                            <div class="close-icon" style="font-weight: bold;">X</div>
                        </div>
                    </div>
                    <div id="append-section-sub-details"></div>
                </div>
            </div>

        </div>
        @*<div class="col-md-3 div-technical-section">
                <div class="grid-main-div" style="background: #e4e5e6 ">
                    <div class="row">
                        <div class="col-md-11">
                            <span class="" style="font-weight: bold; margin-right: 15px !important;"> @ProjectUI.ProjectUI.lblTechnicalSection</span>
                        </div>
                        <div class="col-md-1" style="text-align: center;cursor:pointer;" onclick="hideTechnicalSection()">
                            <div class="close-icon" style="font-weight: bold;">X</div>
                        </div>
                    </div>
                    <div id="append-technical-section"></div>
                </div>

            </div>

            <div class="col-md-3 div-supervision-section">
                <div class="grid-main-div" style="background: #e4e5e6 ">
                    <div class="row">
                        <div class="col-md-11">
                            <span class="" style="font-weight: bold; margin-right: 15px !important;"> @ProjectUI.ProjectUI.lblSupervisionSection</span>
                        </div>
                        <div class="col-md-1" style="text-align: center;cursor:pointer;" onclick="hideSupervisionSection()">
                            <div class="close-icon" style="font-weight: bold;">X</div>
                        </div>
                    </div>
                    <div id="append-supervision-section"></div>
                </div>
            </div>*@
    </div>
</div>



<script>
    var lblProjectNo = '@ProjectUI.ProjectUI.lblProjectNo';
    var lblDocumentType = '@ProjectUI.ProjectUI.lblDocumentType';
    var lblExpiryDate = '@ProjectUI.ProjectUI.lblExpiryDate';
    var lblExpiresIn = '@ProjectUI.ProjectUI.lblExpiresIn';
    var lblStatus = '@ProjectUI.ProjectUI.lblStatus';
    var lblStatusExpired = '@ProjectUI.ProjectUI.lblExpired';
    var lblStatusValid = '@ProjectUI.ProjectUI.lblValid';



    var lblProjectByVIPUrgent = '@ProjectUI.ProjectUI.lblProjectByVIPUrgent';
    var lblProjectByCategory = '@ProjectUI.ProjectUI.lblProjectByCategory';
    var lblClientMeetingAndContractor = '@ProjectUI.ProjectUI.lblClientMeetingAndContractors';
    var lblIssueByStatus = '@ProjectUI.ProjectUI.lblIssueByStatus';
    var lblProjectByStatus = '@ProjectUI.ProjectUI.lblProjectByStatus';
    var lblDelay = '@ProjectUI.ProjectUI.lblDelay';
    var lblTaskStatuses = '@ProjectUI.ProjectUI.lblTask @ProjectUI.ProjectUI.lblStatus';
</script>
@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/Project/Dashboard/Managers/one/project-dashboard_one.js?v=@System.Configuration.ConfigurationManager.AppSettings["JSVersion"]"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/Project/Dashboard/Managers/one/project-grid-with-tasks.js?v=@System.Configuration.ConfigurationManager.AppSettings["JSVersion"]"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/Project/Dashboard/Managers/one/project-dashboard_one_project-summary-report.js?v=@System.Configuration.ConfigurationManager.AppSettings["JSVersion"]"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/Project/Dashboard/Managers/one/project-dashboard_one-document-expiry.js?v=@System.Configuration.ConfigurationManager.AppSettings["JSVersion"]"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/Project/Dashboard/Managers/one/project-dashboard_one-total-projects.js?v=@System.Configuration.ConfigurationManager.AppSettings["JSVersion"]"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/Project/Dashboard/Managers/one/project-dashboard_one-load-by-search.js?v=@System.Configuration.ConfigurationManager.AppSettings["JSVersion"]"></script>

    <script>


        var lblDesignSection = '@ProjectUI.ProjectUI.lblDesignSection';
        var lblTechnicalSection = '@ProjectUI.ProjectUI.lblTechnicalSection';
        var lblSupervisionSection = '@ProjectUI.ProjectUI.lblSupervisionSection';
        var lblTenderSection = '@ProjectUI.ProjectUI.lblTenderSection';
        var lblTotal = '@ProjectUI.ProjectUI.lblTotal';
        var lblCreatedDate = '@ProjectUI.ProjectUI.lblCreatedDate';
        var lblView = '@ProjectUI.ProjectUI.lblView';
        var lblCount = '@ProjectUI.ProjectUI.lblCount';
        var lblProjects = '@ProjectUI.ProjectUI.lblProjects';
        var lblDetails = '@ProjectUI.ProjectUI.lblDetails';
        var lblEmployee = '@ProjectUI.ProjectUI.lblEmployee';
        var lblTask = '@ProjectUI.ProjectUI.lblTask';
        var lblTasks = '@ProjectUI.ProjectUI.lblTasks';
        var lblPriority = '@ProjectUI.ProjectUI.lblPriority';


    </script>

}
