
@{
    ViewBag.Title = "Employee Profile";

}


<input type="hidden" id="CreatedBy" name="CreatedBy" />
<input type="hidden" id="Id" name="Id" value="0" />
<input type="hidden" id="LoggedInUserId" name="LoggedInUserId" value="0" />
<input type="hidden" id="EmployeeId" name="LoggedInUserId" value="0" />
<div class="row">

</div>
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmployeeNumber</label>
                                    <div class="col-xs-7 controls pull-right" id="EmployeeNumber"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row" id="onlyForHR" style="display:none;">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5">@HRModuleUI.HumanResourceUI.lblPassword</label>
                                    <div class="col-xs-7 controls pull-right" id="Password"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmployeeName</label>
                                    <div class="col-xs-7 controls pull-right" id="EmployeeName"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5   ">@HRModuleUI.HumanResourceUI.lblJoinDate</label>
                                    <div class="col-xs-7 controls pull-right" id="JoinDate"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblPhone</label>
                                    <div class="col-xs-7 controls pull-right" id="PhoneNumber"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmail</label>
                                    <div class="col-xs-7 controls pull-right" id="Email"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">
                                        @HRModuleUI.HumanResourceUI.lblDepartment
                                    </label>
                                    <div class="col-xs-7 controls pull-right" id="Department">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">
                                        @HRModuleUI.HumanResourceUI.lblLineManager
                                    </label>
                                    <div class="col-xs-7 controls pull-right" id="DirectResponsible">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2"></div>

                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  "> @HRModuleUI.HumanResourceUI.lblOccupation</label>
                                    <div class="col-xs-7 controls pull-right" id="Profession">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmploymentStatus</label>
                                    <div class="col-xs-7 controls pull-right" id="ContractType">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblNationality</label>
                                    <div class="col-xs-7 controls pull-right" id="Nationality">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 text-right">
                @*  <img src="~/Content/Images/user.jpg" class="img-avatar" id="ProfileImage" name="ProfileImage" style="border-radius:50%;width:110px;" alt="Employee Profile Image" />*@
                <img src="~/Content/Images/user.jpg" class="img-avatar" id="ProfileImage" name="ProfileImage" style="border-radius:4%;width:110px;" alt="@HRModuleUI.HumanResourceUI.lblProfileImage" />
            </div>
        </div>


    </div>

</div>
<div class="row hide_HR_project_tabs">

    <div class="col-md-6" id="divPersonalDocument">
        <div class="card">
            <div class="card-header">
                <strong>@HRModuleUI.HumanResourceUI.tabPersonalDocument</strong>
                @*<small>Form</small>*@
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        @{
                            Html.RenderPartial("~/Areas/HumanResource/Views/Shared/PartialViews/_EmployeePersonalDocumentGridPartialView.cshtml");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="divLeaveBalance" style="display:none;">

        @{
            Html.RenderPartial("~/Areas/HumanResource/Views/Shared/PartialViews/_EmpoyeeLeaveBalancePartialViews.cshtml");
        }


        <div class="card" hidden="hidden">
            <div class="card-header">
                <strong>@HRModuleUI.HumanResourceUI.tabEducationalDocument</strong>
                @*<small>Form</small>*@
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        @{
                            Html.RenderPartial("~/Areas/HumanResource/Views/Shared/PartialViews/_EmployeeEducationalDocumentGridPartialView.cshtml");
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12" id="divEmployeeProject">
        <div class="card">
            <div class="card-header">
                <strong>@Resources.ProjectUI.lblProject </strong>
            </div>
            <div class="card-block">
                <div class="grid-main-div">
                    <div id="load-project-grid-employee-by-id">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="card" style="display:none;">
    <div class="card-header">
        <h5>@HRModuleUI.HumanResourceUI.lblRequest</h5>
        <div class="card-header-right">

        </div>
    </div>

    <div class="card-block">
        <div class="row form-group">
            <div class="col-md-12">

                <div class="btn-group" role="group" aria-label="Requests">
                    <button type="button" class="btn btn-sm btn-primary" id="btnLeaveRequestTab">@HRModuleUI.HumanResourceUI.lblLeave </button>
                    <button type="button" class="btn btn-sm btn-dark" id="btnShortLeaveRequestTab">@HRModuleUI.HumanResourceUI.lblShortLeave</button>
                    <button type="button" class="btn btn-sm btn-dark" id="btnLetterRequestTab">@HRModuleUI.HumanResourceUI.lblOfficialLetter</button>
                    <button type="button" class="btn btn-sm btn-dark" id="btnLeaveCancelRequestTab">@HRModuleUI.HumanResourceUI.lblLeaveCancellation</button>
                    <button type="button" class="btn btn-sm btn-dark" id="btnCashInLeaveTab">@HRModuleUI.HumanResourceUI.lblCashInLieu</button>
                </div>
            </div>
        </div>
        <div class="grid-main-div">
            <div class="row">
                <div class="col-md-12">
                    <div id="RequestGrid"></div>
                    @*<div id="LeaveRequestGrid"></div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalDenyRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Request Deny Comment</h4>
            </div>
            <div class="modal-body">
                @*<form id="frmUserLoginDetail" name="frmUserLoginDetail" action="/services/Xtreme/multipart" method="post">*@
                @*<input type="hidden" name="type" id="type" value="UserManagement_UserLogin" />
                    <input type="hidden" name="Id" id="Id" value="0" />
                    <input type="hidden" name="CreateBy" id="CreatedBy" value="0" />
                    <input type="hidden" name="Language" id="Language" value="" />
                    <input type="hidden" name="EmployeeId" id="EmployeeId" value="" />*@
                <input type="hidden" id="ModalDenyRequestType" />
                <input type="hidden" id="ModalDenyRequestId" />
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-form-label">Comment</label><span style="color: red">*</span>
                            <textarea class="form-control" id="RequestDenyComment" rows="5" name="RequestDenyComment" placeholder="Comment " required></textarea>
                        </div>
                    </div>


                </div>

                @*</form>*@

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnModalDenyRequestSave"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>
<!--<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-sm-12">
                <!-- card start -->
<!--<div class="card">
            <div class="card-header">
                <h5 id="Name">Leave Request</h5>
                <div class="card-header-right">

                </div>
            </div>

            <div class="card-block">



                <div class="row">
                    <div class="col-sm-8">
                        <div id="document-grid">

                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="">

    </div>-->
@*<div class="col-md-6">
        <div class="card table-card">
            <div class="card-header">
                <h5>Short Leave Request</h5>
                <div class="card-header-right">
                </div>
            </div>
            <div class="card-block p-b-0">
                <div class="row">
                    <div class="col-md-12">
                        <div id="ShortLeaveRequestGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!--</div>-->
@*<div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Letter Request</h5>

                    <div class="card-header-right">
                    </div>
                </div>

                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="LetterRequestGrid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>*@





@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Employee/employee-detail.js?+971502324409"></script>

    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Employee/PartialViews/EmployeeEducationalDocumentGridPartialView.js?+971502324409"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Employee/PartialViews/EmployeePersonalDocumentGridPartialView.js?+971502324409"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/Employees/EmployeesProject/load-project-by-employee-id.js?+971502324409"></script>



    <script>
        //Grid Columns
        var leaveName = '@HRModuleUI.HumanResourceUI.lblLeaveType';
        var leaveName = '@HRModuleUI.HumanResourceUI.lblLeaveType';
        var note = '@HRModuleUI.HumanResourceUI.lblNote';
        var startDate = '@Resources.Global.lblStartDate';
        var endDate = '@Resources.Global.lblEndDate';
        var commentEng = '@HRModuleUI.HumanResourceUI.lblCommentEng';
        var commentArb = '@HRModuleUI.HumanResourceUI.lblCommentArb';
        var action = '@Resources.Global.lblAction';
        var status = '@HRModuleUI.HumanResourceUI.lblStatus';
         var days = '@HRModuleUI.HumanResourceUI.lblDays';
        var requestDate = '@HRModuleUI.HumanResourceUI.lblRequestDate';
        var leaveType = '@HRModuleUI.HumanResourceUI.lblLeaveType';
        var startTime = '@HRModuleUI.HumanResourceUI.lblStartTime';
        var endTime = '@HRModuleUI.HumanResourceUI.lblReturnTime';
        var hours = '@HRModuleUI.HumanResourceUI.lblHours';
        var letterType = '@HRModuleUI.HumanResourceUI.lblLetterType';
        var comment = '@HRModuleUI.HumanResourceUI.lblComment';

    </script>
}


