@{
    ViewBag.Title = "Edit Employee Detail";
}




<div class="card">
    <div class="card-block">
        <div class="row">
            <ul class="nav nav-tabs  tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#PersonalInfoTab" role="tab">@HRModuleUI.HumanResourceUI.tabPersonalInfo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#PersonalDocumentTab" role="tab" id="PersonalDocumentTabLi">@HRModuleUI.HumanResourceUI.tabPersonalDocument</a>
                </li>
                <li class="nav-item" hidden="hidden">
                    <a class="nav-link" data-toggle="tab" href="#EducationalDocumentTab" role="tab">@HRModuleUI.HumanResourceUI.tabEducationalDocument</a>
                </li>

            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabs card-block">
                <div class="tab-pane active" id="PersonalInfoTab" role="tabpanel">
                    <div class="row">
                        <form id="frmAddUpdateEmployee" name="frmAddUpdateEmployee" action="/services/Xtreme/multipart" method="post">
                            <div class="card">
                                <div class="card-block">

                                    @{
                                        Html.RenderPartial("~/Areas/HumanResource/Views/Shared/PartialViews/_EmployeePartialView.cshtml");
                                    }

                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="@Url.Action("List","Employee")" class="btn btn-danger  @Resources.Common.PullRight"  m-r-10" id=""> @Resources.Global.btnCancel</a>
                                            <button class="btn btn-success  @Resources.Common.PullRight" id="btn-edit-employee"><i class="fa fa-save"></i> @Resources.Global.btnSave</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <div class="tab-pane" id="PersonalDocumentTab" role="tabpanel">
                    <div class="row">
                        @**@
                        <form id="frmEmployeePersonalDocument" name="frmEmployeePersonalDocument" action="/services/Xtreme/multipart" method="post">
                            <div class="card">
                                <div class="card-block">


                                    @{
                                        Html.RenderPartial("~/Areas/HumanResource/Views/Shared/PartialViews/_EmployeePersonalDocumentPartialView.cshtml");
                                    }
                                    
                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-success  @Resources.Common.PullRight" id="btnSaveEmployeePersonalDocument"><i class="fa fa-save"></i> @Resources.Global.btnSave</button>
                                            @*<a href="@Url.Action("List","Employee")" class="btn btn-danger  pull-right  m-r-10" id="">Cancel</a>*@
                                        </div>
                                    </div>
                                </div>
                                <!-- Page body end -->
                            </div>
                        </form>
                        <table class="table" id="employeePersonalDocumentGrid">
                            <thead>
                                <tr>
                                    <th>@HRModuleUI.HumanResourceUI.lblPersonalDocumentType</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblIssueDate</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblPersonalDocumentExpiryDate</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblExpiresIn</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblFile</th>
                                    <th>@*@HRModuleUI.HumanResourceUI.lblAction*@</th>
                                </tr>
                            </thead>
                            <tbody>                                   
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="EducationalDocumentTab" role="tabpanel">
                    <div class="row">
                        @**@
                        <form id="frmEmployeeEducationalDocument" name="frmEmployeeEducationalDocument" action="/services/Xtreme/multipart" method="post">
                            <div class="card">
                                <div class="card-block">


                                    @{
                                        Html.RenderPartial("~/Areas/HumanResource/Views/Shared/PartialViews/_EmployeeEducationalDocumentPartialView.cshtml");
                                    }

                                </div>
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-success  @Resources.Common.PullRight" id="btnSaveEmployeeEducationalDocument"><i class="fa fa-save"></i> @Resources.Global.btnSave</button>
                                            @*<a href="@Url.Action("List","Employee")" class="btn btn-danger  pull-right  m-r-10" id="">Cancel</a>*@
                                        </div>
                                    </div>
                                </div>
                                <!-- Page body end -->
                            </div>
                        </form>
                        <table class="table" id="employeeEducationalDocumentGrid">
                            <thead>
                                <tr>
                                    <th>@HRModuleUI.HumanResourceUI.lblCertificateName</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblCertificateName</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblEducationalDocumentInstituteNameEng</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblEducationalDocumentInstituteNameArb</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblIssueDate</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblMarksPercentage</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblCountry</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblFile</th>
                                    <th>@*@HRModuleUI.HumanResourceUI.lblAction*@</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Employee/PartialViews/employee-partialViews.js"></script>

    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Employee/PartialViews/employee-personal-document-partialViews.js"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Employee/PartialViews/employee-educational-document-partialViews.js"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Employee/employee-edit.js"></script>
    <script>

        $(function () {
            
        });
    </script>
}




