
@{
    ViewBag.Title = HRModuleUI.HumanResourceUI.lblEmployees;


}


<div class="card">
    <div class="card-block">
        <div class="row">
            @*<div class="col-md-1 @Resources.Common.PullRight">
                    <div class="divSearchControls">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblDepartment</label>
                    </div>

                </div>*@
            @*<div class="col-md-4">
                    <div class="divSearchControls">

                        <input type="text" class="form-control" id="DepartmentIdForSearch"  value="" />
                        <input type="hidden" class="form-control" id="DepartmentIdsForSearch"   value="" />
                    </div>

                </div>

                <div class="col-md-1 ">
                    <div class="form-group divSearchControls">
                        <button type="button" class="btn btn-success pull-right" value="Search" id="btnSearch"><i class="fa fa-search"></i> @HRModuleUI.HumanResourceUI.lblSearch</button>

                    </div>
                </div>*@

            <div class="col-md-12">



                <a href="@Url.Action("Add","Employee")" class="btn btn-success @Resources.Common.PullRight" id="btnAddNewEmployee"><i class="fa fa-plus">  </i> @HRModuleUI.HumanResourceUI.lblAddNew</a>
            </div>
        </div>



        <div class="grid-main-div">
            <div class="row">
                <div class="col-md-12">
                    <div id="employee-grid"></div>
                </div>
            </div>



        </div>
    </div>
</div>



<div class="modal fade" id="modal-adduserlogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@HRModuleUI.HumanResourceUI.lblCreateUserLogin</h4>
            </div>
            <div class="modal-body">
                <form id="frmUserLoginDetail" name="frmUserLoginDetail" action="/services/Xtreme/multipart" method="post">
                    <input type="hidden" name="type" id="type" value="UserManagement_UserLogin" />
                    <input type="hidden" name="Id" id="Id" value="0" />
                    <input type="hidden" name="CreateBy" id="CreatedBy" value="0" />
                    <input type="hidden" name="Language" id="Language" value="" />
                    <input type="hidden" name="EmployeeId" id="EmployeeId" value="" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblEmail</label><span style="color: red">*</span>
                                <input class="form-control" id="Email" name="Email" placeholder="Email " required readonly />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">@HRModuleUI.HumanResourceUI.phPassword</label><span style="color: red">*</span>
                                <input class="form-control" type="password" id="Password" name="Password" placeholder="" value="12345" required readonly />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblRole</label><span style="color: red">*</span>
                                <select class="form-control" id="RoleId" name="RoleId" required></select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" id="divDepartmentDropdownList">
                                <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblDepartment</label><span style="color: red">*</span>
                                <input class="form-control" id="DepartmentId" name="DepartmentId" placeholder="Enter Profession Name " required />
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@HRModuleUI.HumanResourceUI.lblClose</button>
                <button type="button" class="btn btn-primary" id="btnsave">@HRModuleUI.HumanResourceUI.btnSave</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Employee/employee-grid.js"></script>


    <script>
        //Grid columns
        var login = '@HRModuleUI.HumanResourceUI.lblLogin';
        var employeeNumber = '@HRModuleUI.HumanResourceUI.lblEmpNum';
        var nameEng = '@HRModuleUI.HumanResourceUI.lblNameEng';
        var nameArb = '@HRModuleUI.HumanResourceUI.lblNameArb';
        var employeeName = '@HRModuleUI.HumanResourceUI.lblEmployeeName';
        var department = '@HRModuleUI.HumanResourceUI.lblDepartment';
        var phone = '@HRModuleUI.HumanResourceUI.lblPhone';
        var email = '@HRModuleUI.HumanResourceUI.lblEmail';
        var joinDate = '@HRModuleUI.HumanResourceUI.lblJoinDate';
        var profession = '@HRModuleUI.HumanResourceUI.lblProfession';
        var PassportNumber = '@HRModuleUI.HumanResourceUI.lblPassportNumber';
        var eidNumber = '@HRModuleUI.HumanResourceUI.lblEIDNumber';
        var action  = '@HRModuleUI.HumanResourceUI.lblAction';
        var btnGridCreateLogin  = '@HRModuleUI.HumanResourceUI.btnGridCreateLogin';
        var btnGridAlreadyCreated  = '@HRModuleUI.HumanResourceUI.btnGridAlreadyCreated';
        var btnSave  = '@HRModuleUI.HumanResourceUI.btnSave';
        $(function () {
            if (JSON.parse(localStorage.getItem('User')).isHR == false) {
                $('#btnAddNewEmployee').css('display', 'none');
            }
        });
    </script>

}

