
@{
    // ViewBag.Title = "Employee Profile";
    ViewBag.Title = HRModuleUI.HumanResourceUI.employeeProfile;

}


<input type="hidden" id="CreatedBy" name="CreatedBy" />
<input type="hidden" id="Id" name="Id" value="0" />
<input type="hidden" id="LoggedInUserId" name="LoggedInUserId" value="0" />
<input type="hidden" id="EmployeeId" name="EmployeeId" value="0" />
<div class="row">

</div>
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmployeeNumber</label>
                                    <div class="col-xs-7 controls pull-right" id="EmployeeNumber"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmployeeName</label>
                                    <div class="col-xs-7 controls pull-right" id="EmployeeName"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5   ">@HRModuleUI.HumanResourceUI.lblJoinDate</label>
                                    <div class="col-xs-7 controls pull-right" id="JoinDate"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblPhone</label>
                                    <div class="col-xs-7 controls pull-right" id="PhoneNumber"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmail</label>
                                    <div class="col-xs-7 controls pull-right" id="Email"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">
                                        @HRModuleUI.HumanResourceUI.lblDepartment
                                    </label>
                                    <div class="col-xs-7 controls pull-right" id="Department">                                       
                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">
                                       @HRModuleUI.HumanResourceUI.lblLineManager
                                    </label>
                                    <div class="col-xs-7 controls pull-right" id="DirectResponsible">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2"></div>

                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">  @HRModuleUI.HumanResourceUI.lblOccupation</label>
                                    <div class="col-xs-7 controls pull-right" id="Profession">
                                        
                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5">@HRModuleUI.HumanResourceUI.lblEmploymentStatus</label>
                                    <div class="col-xs-7 controls pull-right" id="ContractType">
                                        
                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblNationality</label>
                                    <div class="col-xs-7 controls pull-right" id="Nationality">
                                        
                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 text-right">
                <img src="~/Content/Images/user.jpg" class="img-avatar" id="ProfileImage" name="ProfileImage" style="border-radius:4%;width:110px;" alt="@HRModuleUI.HumanResourceUI.lblProfileImage"  />
            </div>
        </div>


    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <!--<div class="card">
            <div class="card-header">
                <strong>Preparation</strong>-->
                @*<small>Form</small>*@
            <!--</div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="experience-list">
                            <li>
                                <div class="experience-user">
                                    <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                    <div class="timeline-content">
                                        <a href="#/" class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">tourism</font></font></a>
                                        <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tourism plays an essential role in the economic development of the Emirate, and major investments are being carried out in new luxury resorts, and the construction of prestigious hotels for businessmen. </font></font></div>
                                        <span class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20-09-2021 - 22-09-2021</font></font></span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="experience-user">
                                    <div class="before-circle"></div>
                                </div>
                                <div class="experience-content">
                                    <div class="timeline-content">
                                        <a href="#/" class="name"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Economy</font></font></a>
                                        <div><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">During recent decades, the economy of the Emirate of Abu Dhabi has witnessed remarkable growth </font></font></div>
                                        <span class="time"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">09/26/2021 - 09/27/2021</font></font></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="card" hidden="hidden">
            <div class="card-header">
                <strong>@HRModuleUI.HumanResourceUI.lblleavebalancedeductiondetails </strong>
                @*<small>Form</small>*@
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" id="employeeAnnualLeaveBalanceDeductionGrid">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblLeaveType</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblDeductionDate</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblDays</th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <!--<div class="card-header">
        <strong>@HRModuleUI.HumanResourceUI.lblLeavebalance</strong>-->
            @*<small>Form</small>*@
            <!--</div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="employeeVacationLeaveBalanceGrid">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@HRModuleUI.HumanResourceUI.lblLeaveType</th>
                            <th>@HRModuleUI.HumanResourceUI.lblBalance</th>
                            <th>@HRModuleUI.HumanResourceUI.lblTakenLeave</th>


                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>-->
            @{
                Html.RenderPartial("~/Areas/HumanResource/Views/Shared/PartialViews/_EmpoyeeLeaveBalancePartialViews.cshtml");
            }
        </div>
    </div>
    <div class="col-md-8">

        <div class="card">
            <div class="card-header">
                <strong>@HRModuleUI.HumanResourceUI.tabPersonalDocument</strong>
                @*<small>Form</small>*@
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" id="employeePersonalDocumentGrid">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblPersonalDocumentType</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblIssueDate</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblExpiryDate</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblExpiresIn</th>
                                    <th>@Resources.Global.lblStatus</th>
                                    <th>@HRModuleUI.HumanResourceUI.lblFile</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="display:none;">
            <div class="card-header">
                <strong>@HRModuleUI.HumanResourceUI.tabEducationalDocument</strong>
                @*<small>Form</small>*@
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table" id="employeeEducationalDocumentGrid">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    @*<th>Degree Name Eng</th>
                                    <th>Degree Name Arb</th>*@
                                <th>@HRModuleUI.HumanResourceUI.lblCertificateName</th>
                                    @*<th>Institute Name Eng</th>
                                    <th>Institute Name Arb</th>*@
                                <th>@HRModuleUI.HumanResourceUI.lblEducationalDocumentInstituteNameEng</th>
                                <th>@HRModuleUI.HumanResourceUI.lblIssueDate</th>
                                <th>@HRModuleUI.HumanResourceUI.lblMarksPercentage</th>
                                <th>@HRModuleUI.HumanResourceUI.lblCountry</th>
                                <th>@HRModuleUI.HumanResourceUI.lblFile</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--<div class="card">
<div class="card-header">
    <div class="row">
        <div class="col-sm-12">
            <!-- card start -->
<!--<div class="card">
            <div class="card-header">
                <h5 id="Name">Leave Request</h5>
                <div class="card-header-right">

                </div>
            </div>

            <div class="card-block">



                <div class="row">
                    <div class="col-sm-8">
                        <div id="document-grid">

                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="">

    </div>-->
@*<div class="col-md-6">
        <div class="card table-card">
            <div class="card-header">
                <h5>Short Leave Request</h5>
                <div class="card-header-right">
                </div>
            </div>
            <div class="card-block p-b-0">
                <div class="row">
                    <div class="col-md-12">
                        <div id="ShortLeaveRequestGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!--</div>-->
@*<div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Letter Request</h5>

                    <div class="card-header-right">
                    </div>
                </div>

                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="LetterRequestGrid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>*@





@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Employee/employee-profile.js"></script>

}


