
@{
    ViewBag.Title = "Today Attendance";
}

<div class="card">
    <div class="card-block">
        <input type="hidden" name="Language" id="Language" />
        <input type="hidden" name="CreatedBy" id="CreatedBy" />
        <div class="row">
            <div class="col-md-4">
                <div class="divSearchControls">
                    <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblDepartment</label>
                    <input type="text" class="form-control" id="DepartmentId" name="DepartmentId" value="" />
                    <input type="hidden" class="form-control" id="DepartmentIds" name="DepartmentIds" value="" />
                </div>

            </div>
            <div class="col-md-4" hidden>
                <div class="form-group divSearchControls">
                    <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblDate</label>
                    <input type="date" class="form-control" id="CheckinDate" name="CheckinDate" value="" />
                </div>

            </div>
            <div class="col-md-1">
                <div class="form-group divSearchControls">
                    <button type="button" class="btn btn-success" value="Search" style="margin-top:33px;" id="btnSearch"><i class="fa fa-search"></i>@HRModuleUI.HumanResourceUI.lblSearch</button>
                </div>
            </div> 
            <div class="col-md-1 ">
                <div class="form-group divSearchControls">
                    <button type="button" class="btn btn-success" value="Search" style="margin-top:33px;" id="btnShowAll"><i class="fa fa-eye"></i> @HRModuleUI.HumanResourceUI.lblShowAll</button>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <button type="button" id="btnProcess" class="btn btn-success @Resources.Common.PullRight" style="margin-top:0px;"><i class="fa fa-refresh"></i> @Resources.Global.btnProcess</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div id="AttendanceGrid"></div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @*<script src="~/Scripts/FunctionalityJs/Areas/Employees/Attendance/attendance-grid.js"></script>*@
    <script src="~/Scripts/FunctionalityJs/Areas/Employees/Attendance/attendance-today.js"></script>
    
    <script>
        //Grid columns
         var employeeName = '@HRModuleUI.HumanResourceUI.lblEmployeeName';
         var empNum = '@HRModuleUI.HumanResourceUI.lblEmpNum';
         var department= '@HRModuleUI.HumanResourceUI.lblDepartment';
         var checkinDate= '@HRModuleUI.HumanResourceUI.lblCheckInDate';
         var checkinTime= '@HRModuleUI.HumanResourceUI.lblCheckinTime';
         var checkoutTime= '@HRModuleUI.HumanResourceUI.lblCheckoutTime';
         var status= '@HRModuleUI.HumanResourceUI.lblStatus';
        var processed = '@HRModuleUI.HumanResourceUI.lblProcessed';
         
    </script>
}
