@* ********************* ************** ******* ********************************************************************************************************************************************************************************************************************* *@
@* ********************* ************** ******* ******************** *@
@* *********************                                           *********************** *@
@* ********************* LOAD DESIGN SECTION MODEL FOR UPLOADING DOCUMENT **************** *@
@* *********************                                            ********************** *@
@* ********************* **************** BY /\/\ati ************************************* *@
<button type="button" style="display:none;" class="btn btn-primary" id="load-model" data-toggle="modal" data-target="#modal-design-section-upload-document"></button>
<div class="modal fade" id="modal-design-section-upload-document" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="modal-title" id="">@ProjectUI.ProjectUI.lblUploadDocument</h5>

                    </div>
                    <div class="col-md-4 @Resources.Common.PullRight show-hide-employee-start-datetime" >
                        <span class="show-hide-employee-start-datetime" style="display:none;">    @Resources.Global.lblStartDate</span>
                        <b class="show-hide-employee-start-datetime" style="display:none;">
                            <span class="employee-work-date" id=""></span>
                            <span class="employee-work-time" id="" ></span>
                        </b>
                        @*<button type="button" class="close clearField" data-dismiss="modal" aria-hidden="true">&times;</button>*@

                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form id="frmAddUpdate_DesignSection_Document" name="frmAddUpdate_DesignSection_Document" action="/services/Xtreme/multipart" method="post">

                    <input type="hidden" name="DesignSection_Document_Id" id="DesignSection_Document_Id" value="0">
                    <input type="hidden" name="DesignSection_Document_CreatedBy" id="DesignSection_Document_CreatedBy" value="0">
                    <input type="hidden" name="DesignSection_Document_ProjectId" id="DesignSection_Document_ProjectId" value="0">
                    <input type="hidden" name="type" id="type" value="Project_DesignSection_GovernmentDocument_Save">
                    <input type="hidden" name="DesignSection_Document_Language" id="DesignSection_Document_Language" class="Language" value="en-US">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group  typeddlRow">
                                <div id="container">
                                    <label class="col-form-label">@ProjectUI.ProjectUI.lblSection</label><span style="color:red"> *</span><br />

                                    <input class="form-control pname" id="Project_Section_Parent_Type_DDL" readonly required>
                                </div>
                                <input type="hidden" class="form-control pname" name="Setup_SetupType_Id" id="Setup_SetupType_Id" value="0">
                                <input type="hidden" class="form-control pname" id="From_SetupType_Id" value="0">
                                <input type="hidden" class="form-control pname" id="Attachment_Id" value="0">
                                <input type="hidden" class="form-control pname" id="Grid-Name" value="0">
                            </div>

                        </div>
                        <div class="col-sm-6">

                            <div class="form-group">
                                <div class="container">
                                    <label class="col-form-label">@ProjectUI.ProjectUI.lblSubSection</label><span style="color:red"> *</span><br />

                                    <input type="text" class="form-control pname" name="Project_DesignSection_SetupDetailTypeDDL" id="Project_DesignSection_SetupDetailTypeDDL" required>
                                    <input type="hidden" class="form-control pname" name="Project_DesignSection_Entity_Id" id="Project_DesignSection_Entity_Id" value="0">
                                    <input type="hidden" class="form-control pname" name="Project_Section_Parent_Type_DDL_Text" id="Project_Section_Parent_Type_DDL_Text" value="0">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-form-label">@Resources.Global.lblDocumentAttachment </label><br />
                                <input type="file" class="form-control" name="DesignSectionGovernmentDocumentFile" required id="DesignSectionGovernmentDocumentFile"  />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label lbl-startDate">@ProjectUI.ProjectUI.lblIssueDate</label> <span style="color:red">*</span> <br />
                                <input class="form-control" type="date" id="DesignSection_Document_StartDate" name="DesignSection_Document_StartDate" required />
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label lbl-endDate">@ProjectUI.ProjectUI.lblExpiryDate</label> <span style="color:red">*</span> <br />

                                <input class="form-control" type="date" id="DesignSection_Document_EndDate" name="DesignSection_Document_EndDate" required />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">@Resources.Global.lblRemarks</label>
                                <textarea class="form-control" id="DesignSection_Remarks" name="DesignSection_Remarks"></textarea>
                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">


                        <div id="btnAreaShowHideOnConditionBase">

                            <button type="button" class="btn btn-danger   pull-right btnClose clearField" data-dismiss="modal">@Resources.Global.lblClose</button>
                            <button type="button" id="btn-design-section-upload-document" class="btn   btn-success  pull-right" value="Save"> @Resources.Global.btnSave</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@* ********************* ********************* END **************************************** *@


@* ********************* ************** ******* ********************************************************************************************************************************************************************************************************************* *@

