<div class="row" id="internalDivPersonalDocument">
    <table class="table" id="EmployeePersonalDocumentGrid">
        <thead>
            <tr>
                <th>#</th>
                <th>@HRModuleUI.HumanResourceUI.lblPersonalDocumentType</th>
                <th>@HRModuleUI.HumanResourceUI.lblIssueDate</th>
                <th>@HRModuleUI.HumanResourceUI.lblExpiryDate</th>
                <th>@HRModuleUI.HumanResourceUI.lblExpiresIn</th>
                <th>@Resources.Global.lblStatus</th>
                <th>@HRModuleUI.HumanResourceUI.lblFile</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>