<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="card">
    <div class="card-header">
        <strong>@HRModuleUI.HumanResourceUI.lblLeavebalance</strong>
        @*<small>Form</small>*@
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="employeeVacationLeaveBalanceGrid">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@HRModuleUI.HumanResourceUI.lblLeaveType</th>                            
                            <th>@HRModuleUI.HumanResourceUI.lblBalance</th>
                            <th>@HRModuleUI.HumanResourceUI.lblTakenLeave</th>
                            <th>@HRModuleUI.HumanResourceUI.lblTotal</th>
                            


                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Employee/PartialViews/EmpoyeeLeaveBalancePartialViews.js?+971522324409"></script>