<table class="table" id="EmployeeEducationalDocumentGrid">
    <thead>
        <tr>
            <th>#</th>
            @*<th>Degree Name Eng</th>
                <th>Degree Name Arb</th>*@
            <th>@HRUI.HumanResourceUI.lblCertificateName</th>
            @*<th>Institute Name Eng</th>
                <th>Institute Name Arb</th>*@
            <th>@HRUI.HumanResourceUI.lblEducationalDocumentInstituteNameEng</th>
            <th>@HRUI.HumanResourceUI.lblIssueDate</th>
            <th>@HRUI.HumanResourceUI.lblMarksPercentage</th>
            <th>@HRUI.HumanResourceUI.lblCountry</th>
            <th>@HRUI.HumanResourceUI.lblFile</th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
