




<input type="hidden" name="Id" id="Id" value="0">
<input type="hidden" name="CreatedBy " id="CreatedBy" value="0">
<input type="hidden" name="type" id="type" value="HR_Employee_Save">
<input type="hidden" name="Language" id="Language" value="">
<div class="row">
    <div class="col-sm-6" id="ProfileImageDiv">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblProfileImage</label><span style="color:red">*</span><br />
            <input type="file" class="form-control" name="ProfileImage" id="ProfileImage" onchange="validateFileType('ProfileImage',['png', 'jpg']);" />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblJoinDate</label> <span style="color:red">*</span> <br />
            <input type="date" class="form-control pname" name="JoinDate" id="JoinDate" value="" required>
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblNameEng</label><span style="color:red"> *</span><br />
            <input type="text" class="form-control pname" name="NameEng" id="NameEng" value="" placeholder="Enter Name" required>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblNameArb</label><span style="color:red"> *</span><br />
            <input type="text" class="form-control pname" name="NameArb" id="NameArb" value="" placeholder="Enter Name" required>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblSalary </label> <span style="color: red">*</span><br />
            <input type="number" class="form-control" id="Salary" name="Salary" placeholder="Enter Salary" required />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblDepartment </label> <span style="color: red">*</span><br />
            <input type="text" class="form-control" id="DepartmentId" name="DepartmentId" required />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblPhone</label> <span style="color: red">*</span><br />
            <input type="text" class="form-control " id="PhoneNumber" name="PhoneNumber" placeholder="Enter Phone Number" required />
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblEmail </label> <span style="color: red">*</span><br />
            <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter Email" required />
        </div>
    </div>

</div>
<div class="row">

    @*<div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblEmiratesOfResidencyEng</label> <span style="color: red">*</span><br />
                <input type="text" class="form-control " id="EmiratesOfResidencyEng" name="EmiratesOfResidencyEng" placeholder="Enter Emirates Of Residency"  />
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblEmiratesOfResidencyArb</label> <span style="color: red">*</span><br />
                <input type="text" class="form-control " id="EmiratesOfResidencyArb" name="EmiratesOfResidencyArb" placeholder="Enter Emirates Of Residency"  />
            </div>
        </div>*@
    @*<div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblEmiratesOfResidency</label> <span style="color: red">*</span><br />
                <input type="text" class="form-control " id="EmiratesStateId" name="EmiratesStateId"  />
            </div>
        </div>*@
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblProfession </label><br />
            <input class="form-control" id="ProfessionId" name="ProfessionId" required />
        </div>

    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblContractType </label><br />
            <input class="form-control" id="ContractTypeId" name="ContractTypeId" required />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblSocialStatusEnglish</label> <span style="color: red">*</span><br />
            <input type="text" class="form-control" id="SocialStatusEng" name="SocialStatusEng" placeholder="Enter Social Status" required />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblSocialStatusArabic </label> <span style="color: red">*</span><br />
            <input type="text" class="form-control" id="SocialStatusArb" name="SocialStatusArb" placeholder="Enter Social Status" required />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblEmirates </label> <span style="color: red">*</span><br />
            <input type="text" class="form-control " id="EIDNumber" name="EIDNumber" placeholder="Enter EID" required />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblEmiratesOfResidency</label> <span style="color: red">*</span><br />
            <input type="text" class="form-control " id="EmiratesStateId" name="EmiratesStateId" required />
        </div>
    </div>

</div>




<div class="row">
    @*<div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblVisaSponsorship </label><br />
                <input class="form-control" id="VisaSponsorshipId" name="VisaSponsorshipId"  />
            </div>
        </div>*@




</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblPassportNumber</label> <span style="color: red">*</span><br />
            <input type="text" class="form-control " id="PassportNumber" name="PassportNumber" placeholder="Enter Passport Number" required />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblPassportIssueDate </label> <span style="color: red">*</span><br />
            <input type="date" class="form-control " id="ReleaseDate" name="ReleaseDate" required />
        </div>
    </div>

    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblPassportExpiryDate </label> <span style="color: red">*</span><br />
            <input type="date" class="form-control " id="ExpiryDate" name="ExpiryDate" required onfocusout="fnCheckDateValidation(this,$('#ReleaseDate'))" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblVisaSponsorship </label><br />
            <input class="form-control" id="VisaSponsorshipId" name="VisaSponsorshipId" required />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblVisaIssueDate </label> <span style="color: red">*</span><br />
            <input type="date" class="form-control " id="VisaReleaseDate" name="VisaReleaseDate" required />
        </div>
    </div>


    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblVisaExpiryDate </label> <span style="color: red">*</span><br />
            <input type="date" accept="" class="form-control " id="VisaExpiryDate" name="VisaExpiryDate" required onfocusout="fnCheckDateValidation(this,$('#VisaReleaseDate'))" />
        </div>
    </div>
</div>
<div class="row" hidden="hidden">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblOtherStatusEng</label> <br />
            <input class="form-control " id="OtherStatusEng" name="OtherStatusEng" placeholder="Enter Other Status" value=" " />
        </div>
    </div>

    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblOtherStatusArb </label><br />
            <input class="form-control " id="OtherStatusArb" name="OtherStatusArb" placeholder="Enter Other Status" value=" " />
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblMunicipalityCardNumber </label> <span style="color: red">*</span><br />
            <input class="form-control " id="MunicipalityCardNumber" name="MunicipalityCardNumber" placeholder="Enter Municipality Card Number" required />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblMunicipalityCardIssueDate </label> <span style="color: red">*</span><br />
            <input type="date" class="form-control " id="MunicipalityCardReleaseDate" name="MunicipalityCardReleaseDate" required />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblMunicipalityCardExpiryDate </label> <span style="color: red">*</span><br />
            <input type="date" class="form-control " id="MunicipalityCardExpirtDate" name="MunicipalityCardExpirtDate" required onfocusout="fnCheckDateValidation(this,$('#MunicipalityCardReleaseDate'))" />
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblNationality </label> <span style="color: red">*</span><br />
            <input class="form-control" id="NationalityId" name="NationalityId" required />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblSignature </label> <br />            
            <input type="file" class="form-control" name="EmployeeSignature" id="EmployeeSignature" onchange="validateFileType('EmployeeSignature',['png', 'jpg']);" />
        </div>
    </div>

</div>