<div class="row" style="height: 496px; max-height: 496px;">
    <table class="table" id="EmployeePersonalDocumentGrid">
        <thead>
            <tr>
                <th>#</th>
                <th>@HRUI.HumanResourceUI.lblPersonalDocumentType</th>
                <th>@HRUI.HumanResourceUI.lblIssueDate</th>
                <th>@HRUI.HumanResourceUI.lblExpiryDate</th>
                <th>@HRUI.HumanResourceUI.lblExpiresIn</th>
                <th>@Resources.Global.lblStatus</th>
                <th>@HRUI.HumanResourceUI.lblFile</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>