
<!DOCTYPE html>
@{

    Layout = null;//"~/Views/Shared/_WebsiteLayout.cshtml";
}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@Resources.Global.lblInma</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    @*<link href="~/Content/Themes/BizPage/assets/img/favicon.png" rel="icon">*@
    <link href="~/Content/Themes/BizPage/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/Themes/BizPage/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Content/Themes/BizPage/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Content/Themes/BizPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Themes/BizPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Content/Themes/BizPage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/Themes/BizPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/Themes/BizPage/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: BizPage - v5.8.0
    * Template URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <input type="hidden" id="main-module-id" value="0" />
    @*
        <!-- ======= Header ======= -->
        <div class="row">



            <header id="header" class="fixed-top d-flex align-items-center header-transparent" style="background-color:black">
                <div class="col-md-4 ">
                    <img src="~/Content/Login/img/shjengconLogo.png" alt="logo" style="float:left;width:250px;">
                 </div>
                <div class="col-md-8">
                    <div class="container-fluid">

                        <div class="row justify-content-center align-items-center">
                            <div class="col-xl-1 d-flex align-items-center justify-content-between">

                                <nav id="navbar" class="navbar">
                                    <ul>
                                        <li><a class="nav-link scrollto active" href="#hero">@Resources.Global.lblHome</a></li>
                                        <li><a class="nav-link scrollto" href="#about">@Resources.Global.lblAboutUs</a></li>
                                        <li><a class="nav-link scrollto" href="#services">@Resources.Global.lblServices</a></li>
                                        <li><a class="nav-link scrollto" href="#team">@Resources.Global.lblPartners</a></li>

                                        <li><a class="nav-link scrollto" href="#contact">@Resources.Global.lblContact</a></li>
                                        <!--<li class="dropdown">
                                        <a href="#"><span>Module</span> <i class="bi bi-chevron-down"></i></a>
                                        <ul>
                                            <li><a onclick="getAssignedMenusForRole_new('1')">Human Resource(HR)</a></li>
                                            <li><a onclick="getAssignedMenusForRole_new('2')">Project</a></li>-->

                                        <!--</ul>
                                        </li>-->
                                    </ul>
                                    <i class="bi bi-list mobile-nav-toggle"></i>
                                </nav><!-- .navbar -->
                            </div>
                        </div>

                    </div>

                </div>
            </header><!-- End Header -->
        </div>
        <!-- ======= hero Section ======= -->
    *@
    <br />
    @*<br />
        <br />
        <br />
        <div class="row ">

            <div class="col-md-3" data-aos="fade-up" data-aos-delay="50">
                <button class="btn btn-success   form-control scrollto animate__animated animate__fadeInUp" onclick="getAssignedMenusForRole_new('1')"> <h3> <i class="bi bi-award"></i></h3> Human Resource(HR)</button>
            </div>
            <div class="col-md-3" data-aos="fade-up" data-aos-delay="50">
                <button class="btn btn-warning   form-control scrollto animate__animated animate__fadeInUp" onclick="getAssignedMenusForRole_new('2')"> <h3> <i class="bi bi-award"></i></h3> Project</button>

            </div>
        </div>
        <br />*@
    <!-- End Hero Section -->

    <main id="main">



        <!-- ======= Services Section ======= -->
        <section id="services">
            <div class="container" data-aos="fade-up">

                <header class="section-header wow fadeInUp">
                    <h3>@Resources.Global.lblInma</h3>

                </header>
                <br />
                <br />
                <br />
                <div class="row">

                    <div class="col-lg-5 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
                        @*<div class="icon"><i class="bi bi-briefcase"></i></div>*@
                        <h4 class="title ">
                            <button class="btn btn-success   form-control scrollto animate__animated animate__fadeInUp" onclick="getAssignedMenusForRole_new('1')"> <h3> <i class="bi bi-award"></i></h3>@HRModuleUI.HumanResourceUI.lblHR</button>

                            @*<a href="https://www.shjengcon.com/" class="sub-title-heading-1" target="_blank"> </a>*@
                        </h4>
                        @*<p class="description sub-title-description-1"></p>*@
                    </div>
                    <div class="col-lg-5 col-md-6 box" data-aos="fade-up" data-aos-delay="100">

                        <h4 class="title ">
                            <button class="btn btn-warning   form-control scrollto animate__animated animate__fadeInUp" onclick="getAssignedMenusForRole_new('2')"> <h3> <i class="bi bi-award"></i></h3> @Resources.ProjectUI.lblProject</button>
                        </h4>
                    </div>


                </div>

            </div>
        </section>

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <!--<footer id="footer">


        <div class="container">
            <div class="copyright">
                &copy;  Copyright <strong>@Resources.Global.lblInma</strong>. @Resources.Global.lblAllRightReserved
            </div>
            <div class="credits">
                @Resources.Global.lblPoweredBy <a href="https://inma.ae/">@Resources.Global.lblInma</a>
            </div>
        </div>
    </footer>-->
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- Vendor JS Files -->
    <script src="~/Content/Themes/BizPage/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/Content/Themes/BizPage/assets/vendor/aos/aos.js"></script>
    <script src="~/Content/Themes/BizPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Themes/BizPage/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/Themes/BizPage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/Themes/BizPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/Themes/BizPage/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/Content/Themes/BizPage/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Content/Themes/BizPage/assets/js/main.js"></script>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>

    <script src="~/Content/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/FunctionalityJs/Common/common-script.js?v=@System.Configuration.ConfigurationManager.AppSettings["JSVersion"]"></script>
</body>

</html>
<script>

    var lblOops = '@Resources.Global.lblOops';
    var lblPleaseContactToSystemEngineerThankyou = '@Resources.Global.lblPleaseContactToSystemEngineerThankyou';
    var lblYouDontHavePermissionToAccessThisApplication = '@Resources.Global.lblYouDontHavePermissionToAccessThisApplication';

    var _currentLanguage = '@Resources.Common.CurrentLang';
    $(function () {
        $('#Language').val(_currentLanguage);
        fn_Website_Configuration_Get();
        fn_Website_Configuration_Services_Get();
    })




    function getAssignedMenusForRole_new(mainApplicationModule_Id) {

        $('#main-module-id').val('');
        $('#main-module-id').val(mainApplicationModule_Id);

        ajaxRequest({ commandName: 'UserManagement_ValidateCredenial_New', values: { RoleId: 0, LoggedInUserId: localStorage.getItem('LoggedInUserId'), Language: _currentLanguage, MainApplicationModule_Id: $('#main-module-id').val() }, CallBack: loggedInUserDetails_CallBack });

    }


    function loggedInUserDetails_CallBack(loggedInDetails) {



        if (JSON.parse(loggedInDetails.Value) != null) {

        localStorage.setItem('User', loggedInDetails.Value);
        localStorage.setItem('EmployeeNumber', JSON.parse(loggedInDetails.Value).employeeNumber);

            ajaxRequest({
                commandName: 'UserManagement_RoleMenu_GetByRole_New',
                values: {
                    RoleId: JSON.parse(loggedInDetails.Value).roleId,
                    IsHR: JSON.parse(loggedInDetails.Value).isHR,
                    LoggedInUserId: JSON.parse(loggedInDetails.Value).id,
                    Language: _currentLanguage,
                    MainApplicationModule_Id: $('#main-module-id').val()
                }, CallBack: getAssignedMenusForRoleCallBack
            });



        } else {

            Swal.fire({
                icon: 'error',
                title: lblOops,
                text: lblYouDontHavePermissionToAccessThisApplication,//'You dont have permission to access this application..!',
                /// footer: 'In case of any issue '
            })
        }

    }

    function getAssignedMenusForRoleCallBack(roleMenus) {

        if (roleMenus.Value != '[]') {

        localStorage.setItem('Menus', (roleMenus.Value));
        localStorage.setItem('MainApplicationModule_Id', $('#main-module-id').val());


             
         //   var mainApplicationModule_Id = JSON.parse(localStorage.Menus)[0].mainApplicationModule_Id


        //    var existingUserValue = JSON.parse(localStorage.User);


        //    existingUserValue = { ...existingUserValue, MainApplicationModule_Id: mainApplicationModule_Id}
       //     localStorage.setItem('User', JSON.stringify(existingUserValue));
             
            const db_Data = JSON.parse(roleMenus.Value).filter(item => item.isDefault_URL === true);
 
            if (db_Data.length >0 && db_Data[0].isDefault_URL) {
                window.location.href = db_Data[0].url;
            } else {

            window.location.href = "/HumanResource/Employee/Profile";
            }

        } else {
            Swal.fire({
                icon: 'error',
                title: lblOops ,
                text: lblPleaseContactToSystemEngineerThankyou,
                /// footer: 'In case of any issue '
            });
        }
    }


    $(document).ready(function () {
        simpleCarousel($(".simple-carousel"), 5000);
    });

    function simpleCarousel(carousel, intervalTime = 5000) {
        var slideCount = $(carousel).find("ul li.slide").length;
        var activeSlide = 0;

        function showSlide() {
            $(carousel)
                .find("ul li.slide")
                .each(function (index) {
                    if (index == activeSlide) {
                        $(this).fadeIn();
                    } else {
                        $(this).fadeOut();
                    }
                });
        }

        setInterval(function () {
            moveRight();
        }, intervalTime);

        function moveLeft() {
            activeSlide -= 1;
            if (activeSlide < 0) {
                activeSlide = slideCount - 1;
            }
            showSlide();
        }

        function moveRight() {
            activeSlide += 1;
            if (activeSlide >= slideCount) {
                activeSlide = 0;
            }
            showSlide();
        }

        $(carousel)
            .find("a.control_prev")
            .click(function () {
                moveLeft();
            });

        $(carousel)
            .find("a.control_next")
            .click(function () {
                moveRight();
            });
    }

    //------------------------ LOAD DATA DYNMAICALLY


    function fn_Website_Configuration_Get() {
        ajaxRequest({
            commandName: 'Website_Configuration_Get',
            values: {

                Language: _currentLanguage,
                MainApplicationModule_Id: 1
            }, CallBack: fn_Website_Configuration_Get_CallBack
        });

    }
    function fn_Website_Configuration_Get_CallBack(response) {
       // console.log(JSON.parse(response.Value))
        var newResponse = JSON.parse(response.Value);

        if (newResponse != null) {
            $('.companyName').text(newResponse[0].title);
            $('.p-about-us').text(newResponse[0].aboutUs);
            $('.p-our-mission').text(newResponse[0].ourMission);
            $('.p-our-vision').text(newResponse[0].ourVision);
            $('.p-our-plan').text(newResponse[0].ourPlan);
            $('.direction-title-header').text(newResponse[0].directorTitle);
            $('.direction-message-description').text(newResponse[0].directorMessage);
            $('.website-email').text(newResponse[0].email1);
            $('.add-address').text(newResponse[0].address);

            $('.twitter_URL').attr('href',newResponse[0].twitter_URL);
            $('.facebook_URL').attr('href',newResponse[0].facebook_URL);
            $('.instagram_URL').attr('href',newResponse[0].instagram_URL);
            $('.linkedin_URL').attr('href', newResponse[0].linkedIn_URL);
            $('.phone-no-1').append('<a href="tel:' + newResponse[0].phoneNumber1 + '" class="">' + newResponse[0].phoneNumber1+'</a>');
            $('.phone-no-1-footer').append('<a href="tel:' + newResponse[0].phoneNumber1 + '" class="">' + newResponse[0].phoneNumber1+'</a>');

            $('.phone-no-2').append('<a href="tel:' + newResponse[0].phoneNumber2 + '" class="">' + newResponse[0].phoneNumber2+'</a>');
            $('.phone-no-2-footer').append('<a href="tel:' + newResponse[0].phoneNumber1 + '" class="">' + newResponse[0].phoneNumber2 + '</a>');
        }
    }

    function fn_Website_Configuration_Services_Get() {
        ajaxRequest({
            commandName: 'Website_Services_Get',
            values: {

                Language: _currentLanguage,
                MainApplicationModule_Id: 1
            }, CallBack: fn_Website_Configuration_Services_Get_CallBack
        });

    }
    function fn_Website_Configuration_Services_Get_CallBack(response) {
      //  console.log(JSON.parse(response.Value))
        var newResponse = JSON.parse(response.Value);
        if (newResponse != null) {


            $('.p-our-services').text(newResponse[0].main_Description);

            $('.sub-title-heading-1').text(newResponse[0].sub_title);
            $('.sub-title-description-1').text(newResponse[0].sub_Description);

            $('.sub-title-heading-2').text(newResponse[1].sub_title);
            $('.sub-title-description-2').text(newResponse[1].sub_Description);

            $('.sub-title-heading-3').text(newResponse[2].sub_title);
            $('.sub-title-description-3').text(newResponse[2].sub_Description);

            $('.sub-title-heading-4').text(newResponse[3].sub_title);
            $('.sub-title-description-4').text(newResponse[3].sub_Description);

            $('.sub-title-heading-5').text(newResponse[4].sub_title);
            $('.sub-title-description-5').text(newResponse[4].sub_Description);



        }
    }

    //------------------------ LOAD DATA DYNMAICALLY END ---------------------------------



</script>
