
@{
    ViewBag.Title = HRModuleUI.HumanResourceUI.lblAppraisal;

}
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmployeeNumber</label>
                                    <div class="col-xs-7 controls pull-right" id="EmployeeNumber"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmployeeName</label>
                                    <div class="col-xs-7 controls pull-right" id="EmployeeName"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5   ">@HRModuleUI.HumanResourceUI.lblJoinDate</label>
                                    <div class="col-xs-7 controls pull-right" id="JoinDate"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblPhone</label>
                                    <div class="col-xs-7 controls pull-right" id="PhoneNumber"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmail</label>
                                    <div class="col-xs-7 controls pull-right" id="Email"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">
                                        @HRModuleUI.HumanResourceUI.lblDepartment
                                    </label>
                                    <div class="col-xs-7 controls pull-right" id="Department">
                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">
                                        @HRModuleUI.HumanResourceUI.lblLineManager
                                    </label>
                                    <div class="col-xs-7 controls pull-right" id="DirectResponsible">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2"></div>

                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">  @HRModuleUI.HumanResourceUI.lblOccupation</label>
                                    <div class="col-xs-7 controls pull-right" id="Profession">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5">@HRModuleUI.HumanResourceUI.lblEmploymentStatus</label>
                                    <div class="col-xs-7 controls pull-right" id="ContractType">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblNationality</label>
                                    <div class="col-xs-7 controls pull-right" id="Nationality">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 text-right">
                <img src="~/Content/Images/user.jpg" class="img-avatar" id="ProfileImage" name="ProfileImage" style="border-radius:4%;width:110px;" alt="@HRModuleUI.HumanResourceUI.lblProfileImage" />
            </div>
        </div>


    </div>

</div>
<div class="card">
    <div class="card-block">





        <div class="row">
            <ul class="nav nav-tabs  tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#SelfAppraisalTab" role="tab"> @HRModuleUI.HumanResourceUI.lblAppraisal</a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#ManagerAppraisalTab" role="tab" id="ManagerAppraisalTabLi">@HRModuleUI.HumanResourceUI.lblManager @HRModuleUI.HumanResourceUI.lblAppraisal</a>
                    </li>*@


            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabs card-block">
                <div class="tab-pane active" id="SelfAppraisalTab" role="tabpanel">
                    <div class="row">
                        <div class="">
                            <div class="">
                                <div class="row">
                                    @*<div class="col-md-6 ">*@
                                    <div class="col-md-6 ">
                                        <div id="accordion" style="max-height: 898px;overflow-y: scroll;">
                                            <div class="card append-appraisal-data">  </div>
                                        </div>

                                        <div class="card remarks-data">

                                            <div id="collapse_final_remarks">
                                                <div class="card-body">
                                                    <div class="question-answer card-block">
                                                        @*<strong>@HRModuleUI.HumanResourceUI.lblQ.1</strong> <span></span>*@
                                                        <strong>@HRModuleUI.HumanResourceUI.lblremarks</strong>
                                                        <hr />
                                                      
                                                        
                                                        <div class="row">
                                                            <div class="col-md-3" style="text-align: left;"><strong>@HRModuleUI.HumanResourceUI.lblLineManager:</strong></div>
                                                            <div class="col-md-9"><span style="color:red;" id="lm-remarks">  </span></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3" style="text-align:left;">
                                                                <strong>@HRModuleUI.HumanResourceUI.lblCompanyManager:</strong>
                                                            </div>
                                                            <div class="col-md-9"><span style="color:red;" id="cm-remarks">  </span></div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-3" style="text-align: left;">
                                                                <strong>@HRModuleUI.HumanResourceUI.lblHR:</strong>
                                                            </div>
                                                            <div class="col-md-9"><span style="color:red;" id="hr-remarks">  </span></div>
                                                        </div>
                                                        <hr />
                                                        <div class="">

                                                            <textarea readonly class="form-control" cols="20" data-helper-text="" data-ui-id="" id="Remarks"
                                                                      rows="5" style="width:100%; overflow: hidden; overflow-wrap: break-word; resize: horizontal;color:red"></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="appendButtons">   </div>

                                    </div>
                                    <div class="col-md-6 ">

                                        <h5>@HRModuleUI.HumanResourceUI.lblRatings</h5>

                                        @*Dont Remove anything from below table ,It's used in Js'*@

                                        <table style="width: 100%;" id="employee-appraisal">
                                            <thead><tr style="border: 1px solid; background: cyan;" id="employee-appraisal-header"> </tr></thead>
                                            <tbody></tbody>
                                        </table>

                                        <div class="card-footer showHideFromEmployee" style="display:none;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-success    @Resources.Common.PullRight" id="btn-save-appraisal-form"><i class="fa fa-send"></i> @HRModuleUI.HumanResourceUI.lblSend</button>
                                                    @*<button onclick="history.back()" class="btn btn-link  btnBack @Resources.Common.PullRight" id=""><i class="fa fa-back"></i> @Resources.Global.btnBack</button>*@

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>































                <!--<div class="tab-pane" id="ManagerAppraisalTab" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12 showHideManagerTab">

                            <div class="row">

                                <div class="col-md-9 appraisal-form">
                                    <h5>HRModuleUI.HumanResourceUI.lblRatings</h5>-->
                @*<hr />*@
                @*Dont Remove anything from below table ,It's used in Js'*@

                <!--<table style="width: 100%;" id="employee-appraisal">
                            <thead><tr style="border: 1px solid; background: cyan;" id="employee-appraisal-header"> </tr></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="col-md-3"> </div>
                </div>


                <div class="card-footer showHideFromEmployee">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-success    @Resources.Common.PullRight" id="btn-save-appraisal-form"><i class="fa fa-send"></i> @HRModuleUI.HumanResourceUI.lblSend</button>-->
                @*<button class="btn btn-link    @Resources.Common.PullRight" id="btnBack"><i class="fa fa-back"></i> @Resources.Global.btnBack</button>*@
                @*<a href="/Employees/Request/Appraisal" class="btn btn-link  btnBack @Resources.Common.PullRight" id=""><i class="fa fa-back"></i> @Resources.Global.btnBack</a>*@
                <!--<button onclick="history.back()" class="btn btn-link  btnBack @Resources.Common.PullRight" id=""><i class="fa fa-back"></i> @Resources.Global.btnBack</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>-->



            </div>
        </div>

    </div>




</div>



@section scripts {



    <script src="~/Scripts/FunctionalityJs/Areas/Request/Appraisal/employee-appraisal-details.js"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/Request/Appraisal/employee-appraisal-manager-form.js"></script>
    <script>
         var lblAppraisal = '@HRModuleUI.HumanResourceUI.lblAppraisal';
        var lblSubmit = '@HRModuleUI.HumanResourceUI.lblSubmit';
        var lblQ = '@HRModuleUI.HumanResourceUI.lblQ';
        var lblAns = '@HRModuleUI.HumanResourceUI.lblAns';
        var lblremarks = '@HRModuleUI.HumanResourceUI.lblremarks';
        var lblApprove = '@HRModuleUI.HumanResourceUI.lblApprove';
        var lblDecline = '@HRModuleUI.HumanResourceUI.lblDecline';
        var lblEdit = '@Resources.Global.lblEdit';

        var btnSave = '@Resources.Global.btnSave';
        var PullLeft = '@Resources.Common.PullLeft';
        var PullRight = '@Resources.Common.PullRight';
        var btnBack = '@Resources.Global.btnBack';



        var lblTotal = '@HRModuleUI.HumanResourceUI.lblTotal';
        var lblPerformanceScores = '@HRModuleUI.HumanResourceUI.lblPerformanceScores';
        var lblManager = '@HRModuleUI.HumanResourceUI.lblManager';
        @*var lblLineManager  = '@HRModuleUI.HumanResourceUI.lblLineManager';*@
        var lblLineManager  = '@HRModuleUI.HumanResourceUI.lblManager';
        var lblCompanyManager = '@HRModuleUI.HumanResourceUI.lblCompanyManager';
        var lblApprovedBy = '@HRModuleUI.HumanResourceUI.lblApprovedBy';
        var lblSignature = '@HRModuleUI.HumanResourceUI.lblSignature';
        var lblNoSignature = '@HRModuleUI.HumanResourceUI.lblNoSignature';
        var lblHR = '@HRModuleUI.HumanResourceUI.lblHR';
        var lblProcedures = '@HRModuleUI.HumanResourceUI.lblProcedures';


    </script>



}
