
@{
    ViewBag.Title = HRModuleUI.HumanResourceUI.lblAppraisal;

}
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmployeeNumber</label>
                                    <div class="col-xs-7 controls pull-right" id="EmployeeNumber"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmployeeName</label>
                                    <div class="col-xs-7 controls pull-right" id="EmployeeName"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5   ">@HRModuleUI.HumanResourceUI.lblJoinDate</label>
                                    <div class="col-xs-7 controls pull-right" id="JoinDate"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblPhone</label>
                                    <div class="col-xs-7 controls pull-right" id="PhoneNumber"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblEmail</label>
                                    <div class="col-xs-7 controls pull-right" id="Email"></div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">
                                        @HRModuleUI.HumanResourceUI.lblDepartment
                                    </label>
                                    <div class="col-xs-7 controls pull-right" id="Department">
                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">
                                        @HRModuleUI.HumanResourceUI.lblLineManager
                                    </label>
                                    <div class="col-xs-7 controls pull-right" id="DirectResponsible">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2"></div>

                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">  @HRModuleUI.HumanResourceUI.lblOccupation</label>
                                    <div class="col-xs-7 controls pull-right" id="Profession">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5">@HRModuleUI.HumanResourceUI.lblEmploymentStatus</label>
                                    <div class="col-xs-7 controls pull-right" id="ContractType">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-5  ">@HRModuleUI.HumanResourceUI.lblNationality</label>
                                    <div class="col-xs-7 controls pull-right" id="Nationality">

                                    </div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 text-right">
                <img src="~/Content/Images/user.jpg" class="img-avatar" id="ProfileImage" name="ProfileImage" style="border-radius:4%;width:110px;" alt="@HRModuleUI.HumanResourceUI.lblProfileImage" />
            </div>
        </div>


    </div>

</div>
<div class="card">
    <div class="card-block">





        <div class="row">
            <ul class="nav nav-tabs  tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#SelfAppraisalTab" role="tab">@HRModuleUI.HumanResourceUI.lblSelf @HRModuleUI.HumanResourceUI.lblAppraisal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ManagerAppraisalTab" role="tab" id="ManagerAppraisalTabLi">@HRModuleUI.HumanResourceUI.lblManager @HRModuleUI.HumanResourceUI.lblAppraisal</a>
                </li>


            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabs card-block">
                <div class="tab-pane active" id="SelfAppraisalTab" role="tabpanel">
                    <div class="row">
                        <div class="card">
                            <div class="card-block">
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div id="accordion">
                                            <div class="card append-appraisal-data">  </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ManagerAppraisalTab" role="tabpanel">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Manager Appraisal Tab</h2>
                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="EmployeesSelfAppraisalTab" role="tabpanel">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="grid-main-div">
                                    <div id="load-employees-roster"></div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
         
    </div>




</div>



@section scripts {



    <script src="~/Scripts/FunctionalityJs/Areas/Request/Appraisal/employee-appraisal-details.js"></script>
    <script>
         var lblAppraisal = '@HRModuleUI.HumanResourceUI.lblAppraisal';
        var lblSubmit = '@HRModuleUI.HumanResourceUI.lblSubmit';
        var lblQ = '@HRModuleUI.HumanResourceUI.lblQ';
        var lblAns = '@HRModuleUI.HumanResourceUI.lblAns';
        var lblremarks = '@HRModuleUI.HumanResourceUI.lblremarks';
        var lblApprove = '@HRModuleUI.HumanResourceUI.lblApprove';
        var btnSave = '@Resources.Global.btnSave';
        var PullLeft = '@Resources.Common.PullLeft';
        var btnBack = '@Resources.Global.btnBack';

    </script>



}
