
@{
    ViewBag.Title = ":Evaluation Request";
}

<form id="frmEvaluation" name="frmEvaluation" action="/services/Xtreme/multipart" method="post">
    <div class="card">
        <div class="card-block">

            <!--type is required should be same as command name-->
            <input type="hidden" name="type" id="type" value="HR_CompanyDocument_Save" />
            <input type="hidden" name="Id" id="Id" value="0" />
            <input type="hidden" name="CreateBy" id="CreatedBy" value="0" />
            <input type="hidden" name="Language" id="Language" value="" />

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblSection  <span style="color:red">*</span></label>
                        <input class="form-control" id="DepartmentId" name="DepartmentId" required />
                    </div>
                </div>
                <div class="col-md-4">  </div>
            </div>
            

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblLineManager  <span style="color:red">*</span></label>
                            <input class="form-control" id="LM_Employee_Id" name="LM_Employee_Id" required />
                        </div>
                    </div>
                    <div class="col-md-4">  </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblEmployees  <span style="color:red">*</span></label>
                            <input class="form-control" id="Employee_Id" name="Employee_Id" required />
                        </div>
                    </div>
                    <div class="col-md-4">  </div>
                </div>

                
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnSave" class="btn btn-success  pull-right"><i class="fa fa-save"></i> @HRModuleUI.HumanResourceUI.lblSend</button>
                    </div>
                </div>
                <div class="grid-main-div">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="evaluation-created-request-grid"></div>
                             
                        </div>
                    </div>


                </div>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/Request/Evaluation/employee-evaluation-request-grid.js?+971522324409"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/Request/Evaluation/evaluation-request-save.js?+971522324409"></script>
     
    <script>
        //Grid columns
        var NameEng = '@Resources.Global.lblCompanyNameEng';
        var NameArb = '@Resources.Global.lblCompanyNameArb';
        var DescriptionEng = '@Resources.Global.lblCompanyDescriptionEng';
        var DescriptionArb = '@Resources.Global.lblCompanyDescriptionArb';
        var IssueDate = '@HRModuleUI.HumanResourceUI.lblIssueDate';
        var ExpiryDate = '@HRModuleUI.HumanResourceUI.lblExpiryDate';
        var Action = '@HRModuleUI.HumanResourceUI.lblAction';
     var attachment = '@HRModuleUI.HumanResourceUI.lblAttachment';

        var lblCompanyName = '@Resources.Global.lblCompanyName';
        var lblCompanyDescription = '@Resources.Global.lblCompanyDescription';
        var lblExpiresIn = '@HRModuleUI.HumanResourceUI.lblExpiresIn';
        var lblDays = '@HRModuleUI.HumanResourceUI.lblDays';

    </script>
}