<div class="row" id="internalDivPersonalDocument">
    <table class="table" id="PersonalDocumentGrid">
        <thead>
            <tr>
                <th>#</th>
                <th>@ProjectUI.ProjectUI.lblPersonalDocumentType</th>
                <th>@ProjectUI.ProjectUI.lblIssueDate</th>
                <th>@ProjectUI.ProjectUI.lblExpiryDate</th>
                <th>@ProjectUI.ProjectUI.lblExpiresIn</th>
                <th>@Resources.Global.lblStatus</th>
                <th>@ProjectUI.ProjectUI.lblFile</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
 