@* ********************* ************** ******* ********************************************************************************************************************************************************************************************************************* *@
@* ********************* ************** ******* ******************** *@
@* *********************                                           *********************** *@
@* ********************* LOAD MEETING START END  MODEL   **************** *@
@* *********************                                            ********************** *@
@* ********************* **************** BY /\/\ati ************************************* *@
<button type="button" style="display:none;" class="btn btn-primary" id="load-modal" data-toggle="modal" data-target="#modal-meeting-start-end"></button>
<div class="modal fade" id="modal-meeting-start-end" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close clearField " id="btn-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <button type="button" class="close clearField " id="btn-modal-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @*<h5 class="modal-title" id="">@ProjectUI.ProjectUI.lblStartMeeting</h5>*@
                @*<h5 class="modal-title  "> @ProjectUI.ProjectUI.lblProjectNo #:<span class="modal-title projectNo"></span></h5>*@
                <h5 class="modal-title  projectNo"> </h5>
            </div>
            <div class="modal-body">
                <form id="frmAddUpdate_Multiple_Meeting" name="frmAddUpdate_Multiple_Meeting" action="/services/Xtreme/multipart" method="post">

                    <input type="hidden" name="type" id="type" value="Meeting_Multiple_Save">
                    <input type="hidden" name="Language" id="Language" class="Language" value="en-US">
                    <input type="hidden" name="CreatedBy" id="CreatedBy" value="" />
                    <input type="hidden" name="Id" id="Id" class="Language" value="0">
                    <input type="hidden" name="Meeting_Id" id="Meeting_Id" class="Language" value="0">
                    <input type="hidden" class="form-control" name="Signature" id="Signature" value="" />

                    <div class=" " style="text-align: center; border-bottom: 1px solid #ccc; margin-top: 10px; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
                        <div class="row">

                            <div class="col-sm-3"></div>

                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class=" " style="text-align: center;">
                                            <button type="button" class="btn btn-danger ">
                                                <h3 class="meeting-hours" id="hours">-</h3>
                                            </button>
                                            <div class="card-body">
                                                <p class="card-text" style="text-align: center;">@Resources.Global.lblHours</p>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class=" " style="text-align: center;">
                                            <button type="button" class="btn btn-danger ">
                                                <h3 class="meeting-minutes" id="minutes">-</h3>
                                            </button>
                                            <div class="card-body">
                                                <p class="card-text" style="text-align: center;">@Resources.Global.lblMinutes</p>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="card">
                                    <div class="card-body">
                                        <div class=" " style="text-align: center;">
                                            <button type="button" class="btn btn-danger ">
                                                <h3 class="meeting-seconds" id="secondss">-</h3>
                                            </button>
                                            <div class="card-body">
                                                <p class="card-text" style="text-align: center;">@Resources.Global.lblSeconds</p>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3"></div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">@ProjectUI.ProjectUI.lblMeetingStartTime </label>
                                <br />
                                <input type="text" readonly class="form-control" name="StartedTime" id="StartedTime" value="0" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-form-label">@ProjectUI.ProjectUI.lblMeetingEndTime </label>
                                <br />
                                <input type="text" readonly class="form-control" name="EndedTime" id="EndedTime" value="0" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-form-label">@Resources.Global.lblDocumentAttachment </label>
                                <br />
                                <input type="file" class="form-control" name="MeetingFile" id="MeetingFile" />
                            </div>
                        </div>

                    </div>
                    @*<div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label lbl-startDate">@ProjectUI.ProjectUI.lblIssueDate</label> <span style="color:red">*</span> <br />
                                    <input class="form-control" type="date" id="DesignSection_Document_StartDate" name="DesignSection_Document_StartDate" required />
                                </div>
                            </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label lbl-endDate">@ProjectUI.ProjectUI.lblExpiryDate</label> <span style="color:red">*</span> <br />

                                    <input class="form-control" type="date" id="DesignSection_Document_EndDate" name="DesignSection_Document_EndDate" required />
                                </div>
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-form-label">@Resources.Global.lblRemarks</label>
                                <textarea class="form-control" id="Remarks" name="Remarks"></textarea>
                            </div>
                        </div>

                    </div>

                </form>
                <div class="row">
                    <div class="col-sm-12">

                        <div id="noSignature" style="display:none;">
                            <button type="button" disabled class="btn btn-danger @Resources.Common.PullLeft m-r-10" style=" font-size: larger;"> @HRModuleUI.HumanResourceUI.lblNoSignature</button>
                        </div>
                        <div id="loadSignature" style="display:none;">
                            <img src="" class="img-avatar  @Resources.Common.PullLeft" id="loadClientSignature" style="border-radius:4%;width:150px;" alt="@HRModuleUI.HumanResourceUI.lblSignature">
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        @*<label class="btn btn-success  " for="chk-signature" style="margin-bottom: 0px;width:100%;">
                            <input disabled type="checkbox" onchange="fnShowSignature();" class="btn-signature chk-signature">
                            <font style="vertical-align: inherit;font-weight:normal;">@ProjectUI.ProjectUI.lblClient @HRModuleUI.HumanResourceUI.lblSignature</font>
                        </label>*@
                        <label class="btn btn-success m-t-25   text-white" for="chk-signature" style="margin-bottom: 0px;width:100%;">
                            <input type="checkbox" class=""  onchange="fnShowSignature(this);" name="chk-signature" id="chk-signature">
                            <font style="vertical-align: inherit;font-weight:normal;">@ProjectUI.ProjectUI.lblClient @HRModuleUI.HumanResourceUI.lblSignature</font>
                        </label>

                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">


                        <div id="btnAreaShowHideOnConditionBase">

                            @*<button type="button" class="btn btn-danger   pull-right btnClose  " data-dismiss="modal">@Resources.Global.lblClose</button>*@
                            @*<button type="button" id="clear2" class="btn   btn-danger  pull-right" value="Reset"> @Resources.Global.btnReset</button>*@

                            @*<button type="button" id="stop" class="btn   btn-danger  pull-right" value="End"> @ProjectUI.ProjectUI.lblMeetingEnd</button>*@
                            <button type="button" id="start" class="btn   btn-success  pull-right" value="Start"> @ProjectUI.ProjectUI.lblStartMeeting</button>
                            <button type="button" id="btn-multiple-meeting-save" class="btn   btn-success  pull-right" style="display:none;" value="Save"></button>
                            @*<button type="button" disabled id="btn-signature" class="btn btn-info @Resources.Common.PullRight  m-r-10" onclick="fnShowSignature();"><i class=""></i>@ProjectUI.ProjectUI.lblClient @HRModuleUI.HumanResourceUI.lblSignature</button>*@
                            @*<button type="button" disabled id="btn-signature" class="btn btn-info @Resources.Common.PullRight  m-r-10" onclick="fnShowSignature();"><i class=""></i>@ProjectUI.ProjectUI.lblApprovedBy @ProjectUI.ProjectUI.lblClient </button>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@* ********************* ********************* END **************************************** *@



