
@{
    ViewBag.Title = HRModuleUI.HumanResourceUI.lblCompanyRules;
}

<form id="frmCompanyRules" class="frmCompanyRules" name="frmCompanyRules" action="/services/Xtreme/multipart" method="post">
    <div class="card">
        <div class="card-block">

            <!--type is required should be same as command name-->
            <input type="hidden" name="type" id="type" value="HR_Rule_Save" />
            <input type="hidden" name="Id" id="Id" value="0" />
            <input type="hidden" name="CreatedBy" id="CreatedBy" value="0" />
            <input type="hidden" name="Language" id="Language" value="" />
            <input type="hidden" name="DescriptionEng" id="DescriptionEng" value="" />
            <input type="hidden" name="DescriptionArb" id="DescriptionArb" value="" />

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label">@Resources.Global.lblCompanyNameEng  <span style="color:red">*</span></label>
                        <input class="form-control" id="NameEng" name="NameEng" required />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label">@Resources.Global.lblCompanyNameArb  <span style="color:red">*</span></label>
                        <input class="form-control" id="NameArb" name="NameArb" required />
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-form-label">@Resources.Global.lblDocumentAttachment  <span style="color:red">*</span></label>
                        <input type="file" class="form-control" name="RuleDocument" id="RuleDocument" required />
                    </div>
                </div>
                <div class="col-md-8">  </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="btn-save-rule" class="btn btn-success  pull-right"><i class="fa fa-save"></i> @Resources.Global.btnSave</button>
                    <button type="reset" id="btn-reset" hidden class="btn btn-danger  pull-right"><i class=""></i> @Resources.Global.btnReset</button>
                </div>
            </div>

        </div>
    </div>
</form>
<div class="card">
    <div class="card-block">

        <div class="grid-main-div">
            <div class="row">
                <div class="col-md-12">
                    <div id="rule-grid"></div>
                </div>
            </div>
        </div>
    </div> 
</div>
@section scripts { 

    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Rules/rules-grid.js"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Rules/rules-save.js"></script>
    <script>
        //Grid columns

     var attachment = '@HRModuleUI.HumanResourceUI.lblAttachment';

    </script>
}
