
@{
    ViewBag.Title = HRModuleUI.HumanResourceUI.lblLetterRequest;
}

<div class="card">
    <div class="card-block">
        <form id="frmLetterDetail" name="frmLetterDetail" action="/services/Xtreme/multipart" method="post">
            <!--type is required should be same as command name-->
            <input type="hidden" name="type" id="type" value="Request_Letter_Save" />
            <input type="hidden" name="Id" id="Id" value="0" />
            <input type="hidden" name="CreatedBy" id="CreatedBy" value="0" />
            <input type="hidden" name="Language" id="Language" value="" />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblLetterType </label>
                        <input class="form-control" id="LetterTypeId" name="LetterTypeId" required />
                    </div>
                </div>
                <div class="col-md-8"> </div>

            </div>
            <div class="row" id="OtherDiv">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblComment</label>
                        <input class="form-control" id="Other" name="Other" />
                    </div>
                </div>
                <div class="col-md-4"></div>

            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblNote</label>
                        <textarea class="form-control" id="Note" name="Note" required></textarea>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="btnSave" class="btn btn-success pull-right"><i class="fa fa-send"></i> @HRModuleUI.HumanResourceUI.lblSend</button>
                </div>
            </div>

        </form>

        <div class="grid-main-div">
            <div class="row">
                <div class="col-md-12">
                    <div id="LetterGrid"></div>
                </div>
            </div>
        </div>


    </div>
</div>


@section scripts {

    <script src="~/Scripts/FunctionalityJs/Areas/Request/Letter/letter.js"></script>
    <script>
        //Grid columns
        var letterType = '@HRModuleUI.HumanResourceUI.lblLetterType';
        var comment = '@HRModuleUI.HumanResourceUI.lblComment';
        var note = '@HRModuleUI.HumanResourceUI.lblNote';
        var comment = '@HRModuleUI.HumanResourceUI.lblComment';
        var requestDenyComment = '@HRModuleUI.HumanResourceUI.lblRequestDenyComment';
        var action = '@Resources.Global.lblAction';
        var Status = '@HRModuleUI.HumanResourceUI.lblStatus';
        var Other = '@HRModuleUI.HumanResourceUI.lblOther';

    </script>
}



