<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="shortcut icon" href="assets/ico/favicon.png"> -->
    <title>@ViewBag.Title - INMA INT.LLC</title>

    <link href="~/Content/Themes/CoreUI/css/style.min.css" rel="stylesheet" />
    <!-- Icons -->
    <link href="~/Content/Themes/CoreUI/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/Themes/CoreUI/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application -->

    <link href="~/Content/kendo/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/Themes/CoreUI/css/@Resources.Common.PageLayout" rel="stylesheet">
    <link href="~/Content/custom-css.css" rel="stylesheet" />
    <style>
        .k-filter-row .k-dropdown-operator {
            display: none;
        }

        .k-filtercell, .k-filtercell .k-widget, .k-filtercell > span {
            width: 100% !important;
        }
        td, th {

            text-align: @Resources.Global.textAlign;

        }
        .k-grid-header th.k-header {
            text-align: @Resources.Global.textAlign;
        }
         .k-grid-content td {
            text-align: @Resources.Global.textAlign;
        }

        .k-widget .k-icon.k-i-collapse, .k-widget .k-icon.k-i-expand {
            padding-left: @Resources.Global.treeViewPaddingLeft;
        }
        #RequestLoader {
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 100%;
            top: 0;
            background-color: Black;
            filter: alpha(opacity=60);
            opacity: 0.6;
            -moz-opacity: 0.8;
            display: none;
        }

        .center {
            /*z-index: 1000;
            margin: 50px auto;
            padding: 10px;
            width: 130px;
            background-color: White;
            border-radius: 10px;
            filter: alpha(opacity=100);
            opacity: 1;
            -moz-opacity: 1;*/
            position: absolute;
            top: 43%;
            left: 50%;
            margin-top: -50px;
            margin-left: -50px;
            width: 100px;
            height: 100px;
        }

        .centerimg {
            height: 128px;
            width: 128px;
        }
    </style>

</head>


<body class="navbar-fixed sidebar-nav fixed-nav">
    <div id="RequestLoader" class="modal">
        <div class="center">
            <img src="~/Content/Images/logo.png" alt="Loader" width="150" height="150" />
            <h3>Loading...</h3>
        </div>
    </div>
    @{
                                        Html.RenderPartial("~/Areas/HumanResource/Views/Shared/PartialViews/_EmployeeNearToExpireDocumentPartialView.cshtml");
    }
    <header class="navbar">
        <div class="container-fluid">
            <button class="navbar-toggler mobile-toggler hidden-lg-up" type="button">&#9776;</button>
            <a class="navbar-brand" href="#"></a>
            <ul class="nav navbar-nav hidden-md-down @Resources.Common.PullLeft" style="padding-left:61px;">
                <li class="nav-item p-x-1">

                    <a href="@Url.Action("ChangeLanguage", "Home",  new { language = (Resources.Common.ChangeLang), area = "" })" style="color: #263238;">@Resources.Common.LanguageText </a>
                </li>
            </ul>

            <ul class="nav navbar-nav hidden-md-down @Resources.Common.PullRight">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-bell"></i><span class="tag tag-pill tag-danger" id="spanNotificationCount">0</span></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#" onclick="viewNearToExpireDocumentsModalGrid();" id="liNewToExpireDocument"><i class="fa fa-file-o"></i> @HRModuleUI.HumanResourceUI.lblDocument <span class="badge badge-danger" id="documentCount">0</span></a>
                       
                    </div>
                </li>

                <li class="nav-item p-x-10"></li>
                <li class="nav-item p-x-1" id="LoggedInEmployeeName">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">


                    </a>
                    <div class="dropdown-menu dropdown-menu-right">

                        <button id="btn-update-password" class="dropdown-item"><i class="fa fa-key"></i> @HRModuleUI.HumanResourceUI.lblUpdatePassword</button>                        
                        <button id="btn-logout" class="dropdown-item"><i class="fa fa-lock"></i> @HRModuleUI.HumanResourceUI.lblLogout </button>
                        
                    </div>
                </li>

            </ul>
        </div>
    </header>
    <div id="left-menu-item"></div>
    <!-- Main content -->
    <main class="main" style="padding-top:30px;">
        <!-- Breadcrumb -->
        <!--<ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">
                <a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>-->
        <!-- Breadcrumb Menu-->
        <!--<li class="breadcrumb-menu">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
                    <a class="btn btn-secondary" href="./"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                    <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>
                </div>
            </li>
        </ol>-->
        <div class="container-fluid">
            <div class="">
                @RenderBody()
            </div>
        </div>
        <!-- /.conainer-fluid -->
    </main>

    <footer class="footer">
        <span class="text-left">
            <a href="https://xtremessoft.com">INMA</a>  &copy; 2022 Xtreme Software
        </span>
        <span class="@Resources.Common.PullRight">
            Powered by <a href="https://xtremessoft.com"> XtremeSoft</a>
        </span>
    </footer>

    <div class="modal fade" id="modal-update-password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">@HRModuleUI.HumanResourceUI.lblUpdatePassword</h4>
                </div>
                <div class="modal-body">
                    <form id="frmUpdatePassword" name="frmUpdatePassword" action="/services/Xtreme/multipart" method="post">
                        <input type="hidden" name="type" id="type" value="Users_UpdatedPassword" />
                        <input type="hidden" name="Id" id="Id" value="0" />
                        <input type="hidden" name="CreateBy" id="CreatedBy" value="0" />
                        <input type="hidden" name="Language" id="Language" value="" />

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblEmployeeNumber</label><span style="color: red">*</span>
                                    <input class="form-control" id="EmployeeNum" name="EmployeeNum"  required readonly />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblOldPassword</label><span style="color: red">*</span>
                                    <input class="form-control" type="password" id="OldPassword" name="OldPassword" value="12345" readonly required  />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblNewPassword</label><span style="color: red">*</span>
                                    <input class="form-control" type="password" id="NewPassword" name="NewPassword"  required  />
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@HRModuleUI.HumanResourceUI.lblClose</button>
                    <button type="button" class="btn btn-primary" id="btn-update-user-password">@HRModuleUI.HumanResourceUI.btnSave</button>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap and necessary plugins -->
    @*<script src="~/Content/Themes/CoreUI/js/libs/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Content/Themes/CoreUI/js/libs/tether.min.js"></script>
    <script src="~/Content/Themes/CoreUI/js/libs/bootstrap.min.js"></script>
    <script src="~/Content/Themes/CoreUI/js/libs/pace.min.js"></script>

    <!-- Plugins and scripts required by all views -->
    <script src="~/Content/Themes/CoreUI/js/libs/Chart.min.js"></script>

    <!-- CoreUI main scripts -->

    <script src="~/Content/Themes/CoreUI/js/app.js"></script>
    <!-- Plugins and scripts required by this views -->
    <!-- Custom scripts required by this view -->
    <script src="~/Content/Themes/CoreUI/js/views/main.js"></script>
    <!-- Grunt watch plugin -->
    <!--Kendo js-->
    <script src="~/Content/JS/kendo/kendo.all.min.js"></script>
    <script src="~/Content/JS/kendo/jszip.min.js"></script>
    <!--End Kendo js-->
    <script src="~/Scripts/crypto-script.js"></script>
    <!--Sweet Alert 2-->
    <script src="~/Content/sweetalert2/dist/sweetalert2.all.min.js"></script>

    <script src="~/Scripts/tinymce.min.js"></script>
    <script src="~/Scripts/FunctionalityJs/Common/leave-setup.js"></script>
    <script src="~/Scripts/FunctionalityJs/Common/common-script.js"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Shared/PartialViews/_EmployeeNearToExpireDocumentPartialView.js"></script>


</body>

</html>
<script>
    var _currentLanguage = '@Resources.Common.CurrentLang';

    //Global Resources
    var save = '@Resources.Global.btnSave';
    var btnAcceptText = '@Resources.Global.lblAccept';
    var btnApproveText = '@Resources.Global.lblApprove';
    var btnDeclineText = '@Resources.Global.lblDecline';
    var approveText = '@Resources.Global.doYouReallyWantToApproveThisRequest';
    var declineText = '@Resources.Global.doYouReallyWantToDeclineThisRequest';

    var approveTitle = '@Resources.Global.lblApprove';
    var approveTitleQuestion = '@Resources.Global.lblApproveQuestion';
    var declineTitle = '@Resources.Global.lblDecline';
    var declineTitleQuestion = '@Resources.Global.lblDeclineQuestion';
    var btnYesText = '@Resources.Global.lblYes';
    var btnNoText = '@Resources.Global.lblNo';

    var lblExpiryDateCannotBeLessThanIssue = '@HRModuleUI.HumanResourceUI.lblExpiryDateCannotBeLessThanIssue';

    //Columns
    var employeeNumber = '@HRModuleUI.HumanResourceUI.lblEmpNum';
    var employeeName = '@HRModuleUI.HumanResourceUI.lblEmployeeName';
    var documentType = '@HRModuleUI.HumanResourceUI.lblEducationalDocument';
    var expiryDate = '@HRModuleUI.HumanResourceUI.lblExpiryDate';
    var section = '@HRModuleUI.HumanResourceUI.lblDepartment';



     var approveMultipleText = '@Resources.Global.doYouReallyWantToApproveTheseRequests';
    var declineMultipleText = '@Resources.Global.doYouReallyWantToDeclineTheseRequests';
    var areYouSureTitle = '@Resources.Global.lblAreYouSure';
    var doYouReallyWantToDeletThisRecord  = '@Resources.Global.doYouReallyWantToDeleteThisRecord';

    $(function () {
        $(':input').removeAttr('placeholder');
        $('#LayoutCurrentLanguage').val(_currentLanguage);
        var assingedRoleMenus = localStorage.getItem('Menus');
        var menuGroupArray = [];

        $("#left-menu-item").load("/Home/LoadLeftMenuPartialView",
            { menuItems: assingedRoleMenus }
        );
        setTimeout(function () {
            $('.pcoded-main-container').css('margin-top', '23px');
            //$('.pcoded-main-container').css('min-height', '13px');
            //$('.pcoded-main-container').css('max-height', '13px');

        }, 500);
        var loggedUserName = _currentLanguage == 'en-US' ? (JSON.parse(localStorage.getItem('User')).employeeNameEng) : (JSON.parse(localStorage.getItem('User')).employeeNameArb);
        loggedUserName = '@Resources.Global.Welcome  ' + loggedUserName;
        $('#LoggedInEmployeeName').text(loggedUserName);

        setTimeout(function () {
            addTinyMCE();

        }, 500);

        //alert($('#Language').val());
        
            loadProfessionDropdownListForLS()
            loadNationalityDropdownListForLS();
            loadSponsorShipDropdownListForLS();
            loadContractTypeDropdownListForLS();
            loadRoleDropdownListForLS();
            loadEmiratesStatesDropdownListForLS();
        
       
    });

    function loadProfessionDropdownListForLS() {
        ajaxRequest({ commandName: 'HR_Profession_Get', values: { Language: _currentLanguage }, CallBack: loadProfessionDropdownListForLSCallBack });
    }
    function loadProfessionDropdownListForLSCallBack(response) {
        debugger;
        console.log(response);
        window.localStorage.setItem('ProfessionList', response.Value);
    }
    function loadNationalityDropdownListForLS() {
        ajaxRequest({ commandName: 'HR_Nationality_Get', values: { Language: _currentLanguage }, CallBack: loadNationalityDropdownListForLSCallBack });
    }
    function loadNationalityDropdownListForLSCallBack(response) {
        window.localStorage.setItem('NationalityList', response.Value);
    }
    function loadSponsorShipDropdownListForLS() {
        ajaxRequest({ commandName: 'HR_VisaSponsorship_Get', values: { Language: _currentLanguage}, CallBack: loadSponsorShipDropdownListForLSCallBack });
    }
    function loadSponsorShipDropdownListForLSCallBack(response) {
        window.localStorage.setItem('SponsorshipList', response.Value);
    }
    function loadContractTypeDropdownListForLS() {
        ajaxRequest({ commandName: 'HR_ContractType_Get', values: { Language: _currentLanguage }, CallBack: loadContractTypeDropdownListForLSCallBack });
    }
    function loadContractTypeDropdownListForLSCallBack(response) {
        window.localStorage.setItem('ContractTypeList', response.Value);
    }
    function loadRoleDropdownListForLS() {
        ajaxRequest({ commandName: 'UserManagement_Role_Get', values: { Language: _currentLanguage }, CallBack: loadRoleDropdownListForLSCallBack });
    }
    function loadRoleDropdownListForLSCallBack(response) {
        window.localStorage.setItem('UserManagementRoleList', response.Value);
    }
    function loadEmiratesStatesDropdownListForLS() {
        ajaxRequest({ commandName: 'HR_EmiratesStates_Get', values: { Language: _currentLanguage }, CallBack: loadEmiratesStatesDropdownListForLSCallBack });
    }
    function loadEmiratesStatesDropdownListForLSCallBack(response) {
        window.localStorage.setItem('EmiratesStatesList', response.Value);
    }


    $('#btn-logout').click(function () {
        window.location.href = '/User/Login';
    });


    $('#btn-update-password').click(function () {

        var test = localStorage.getItem('EmployeeNumber');
        $('#EmployeeNum').val(test);
        $('#modal-update-password').modal('show');
    });

    $('#btn-update-user-password').click(function () {

        if (customValidateForm('frmUpdatePassword')) {
            $("#frmUpdatePassword").ajaxForm();
            buttonAddPleaseWait('btn-update-user-password');
            var options = {
                success: function (response, statusText, jqXHR) {
                    Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: 'Password changed successfully',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    setTimeout(function () { window.location.href = '/User/Login' }, 1500);
                },
                error: function (xhr, status, error) {
                    buttonRemovePleaseWait('btn-update-user-password', 'Save', 'save');
                    var errmsg = xhr.status + ':' + xhr.responseText + ':' + error;
                    alert(errmsg);
                }
                , complete: function () {
                    buttonRemovePleaseWait('btn-update-user-password', 'Save', 'save');
                }
            };
            $("#frmUpdatePassword").ajaxSubmit(options);
        }
        else {

            buttonRemovePleaseWait('btn-update-user-password', 'Save', 'save');
        }

    });


    function formatDate(date) {
        if (date != null) {
            var d = new Date(date),

                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) month = '0' + month;
            if (day.length < 2) day = '0' + day;
            console.log([year, month, day].join('-'));
            return [year, month, day].join('-');
        }
        else {
            return '';
        }
    }

    // Add TinyMCE
    function addTinyMCE() {
        // Initialize
        tinymce.init({
            selector: '.editor',
            themes: 'advanced',
            height: 300,
            menubar: true, width: "100%",
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help'
        });


    }


</script>
