
@{
    //ViewBag.Title = Resources.EmployeeResourcesUI.lblEmployeesCancelLeaveRequest;
    ViewBag.Title = HRModuleUI.HumanResourceUI.lblEmployeesCancelLeaveRequest;
}
<style>
    /*.k-pivot-table*/

</style>

<input type="hidden" id="CreatedBy" name="CreatedBy" />
<input type="hidden" id="Id" name="Id" value="0" />
<input type="hidden" id="LoggedInUserId" name="LoggedInUserId" value="0" />

<div class="card">
    <div class="card-header">


        <h5>@HRModuleUI.HumanResourceUI.lblEmployeesCancelLeaveRequest</h5>
        <div class="card-header-right">

        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                <button type="button" id="btnPendingData" onclick="fnLoadGridByStatus(this.value);" class="btn btn-outline-danger  pull-left active" value="Pending"><i class=""></i> @HRModuleUI.HumanResourceUI.lblPendingRequest</button>
                <button id="btnApprovedData" onclick="fnLoadGridByStatus(this.value);" class="btn btn-outline-info pull-left" value="Approved"><i class=""></i> @HRModuleUI.HumanResourceUI.lblApprovedRequest</button>
                <div id="btnAreaShowHideOnConditionBase">

                    <button type="button" id="btnSave" class="btn btn-success  pull-right" value="Approved"><i class="fa fa-check"></i> @HRModuleUI.HumanResourceUI.lblApprove</button>
                    <button id="btnCancel" class="btn btn-danger pull-right" value="Decline"><i class="fa fa-ban"></i> @HRModuleUI.HumanResourceUI.lblDecline</button>


                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="CancelGrid"></div>
            </div>
        </div>


    </div>
</div>




@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/Employees/Request/Cancel.js"></script>
    <script>
        //Grid Columns
        var email = '@HRModuleUI.HumanResourceUI.lblEmail';
        var lblName = '@HRModuleUI.HumanResourceUI.lblName';
        var leaveName = '@HRModuleUI.HumanResourceUI.lblLeaveType';
        var startDate = '@Resources.Global.lblStartDate';
        var endDate = '@Resources.Global.lblEndDate';
        var commentEng = '@HRModuleUI.HumanResourceUI.lblCommentEng';
        var commentArb = '@HRModuleUI.HumanResourceUI.lblCommentArb';
        var action = '@Resources.Global.lblAction';
           var requestDenyComment = '@HRModuleUI.HumanResourceUI.lblRequestDenyComment';
        var status = '@HRModuleUI.HumanResourceUI.lblStatus';
        var comment = '@HRModuleUI.HumanResourceUI.lblComment';


                   var btnDecline= '@HRModuleUI.HumanResourceUI.lblDecline';
        var btnAccept = '@HRModuleUI.HumanResourceUI.lblAccept';
        var lblFristSelectRecordFromGrid  = '@HRModuleUI.HumanResourceUI.lblFristSelectRecordFromGrid ';



    </script>
}