
@{
    ViewBag.Title = Resources.EmployeeResourcesUI.lblEmployeesOfficialLetterRequests;
}


<input type="hidden" id="CreatedBy" name="CreatedBy" />
<input type="hidden" id="Id" name="Id" value="0" />
<input type="hidden" id="LoggedInUserId" name="LoggedInUserId" value="0" />

<div class="card">
    <div class="card-header">
        @*<h5>Employees Official Letter Request(s)</h5>*@
        <h5>@HRModuleUI.HumanResourceUI.lblEmployeesOfficialLetterRequests</h5>
        <div class="card-header-right">

        </div>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">
                @*<div class="btn-group" role="group" aria-label="Requests">

                </div>*@
                <button type="button" id="btnPendingData" onclick="fnLoadGridByStatus(this.value);" class="btn btn-outline-danger  pull-left active" value="Pending"><i class=""></i> @HRModuleUI.HumanResourceUI.lblPendingRequest</button>
                <button id="btnApprovedData" onclick="fnLoadGridByStatus(this.value);" class="btn btn-outline-info pull-left" value="Approved"><i class=""></i> @HRModuleUI.HumanResourceUI.lblApprovedRequest</button>
                <div id="btnAreaShowHideOnConditionBase">

                <button type="button" id="btnSave" class="btn btn-success  pull-right" value="Approved"><i class="fa fa-check"></i> @HRModuleUI.HumanResourceUI.lblApprove</button>
                <button id="btnCancel" class="btn btn-danger pull-right" value="Decline"><i class="fa fa-ban"></i> @HRModuleUI.HumanResourceUI.lblDecline</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="LetterGrid"></div>
        </div>
    </div>


</div> 

@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/Employees/Request/letters.js"></script>
    <script>
        //Grid columns
        var lblName = '@HRModuleUI.HumanResourceUI.lblName';
        var email = '@HRModuleUI.HumanResourceUI.lblemail';
        var letterType = '@HRModuleUI.HumanResourceUI.lblLetterType';
        var comment = '@HRModuleUI.HumanResourceUI.lblComment';
        var note = '@HRModuleUI.HumanResourceUI.lblNote';
        var comment = '@HRModuleUI.HumanResourceUI.lblComment';
        var btnDecline= '@HRModuleUI.HumanResourceUI.lblDecline';
        var btnAccept = '@HRModuleUI.HumanResourceUI.lblAccept';
        var requestDenyComment = '@HRModuleUI.HumanResourceUI.lblRequestDenyComment';
        var action = '@Resources.Global.lblAction';
        var Status = '@HRModuleUI.HumanResourceUI.lblStatus';
        var Other = '@HRModuleUI.HumanResourceUI.lblOther';
        var startDate = '@HRModuleUI.HumanResourceUI.lblStartDate';
        var lblFristSelectRecordFromGrid = '@HRModuleUI.HumanResourceUI.lblFristSelectRecordFromGrid';

    </script>
}



