
@{
    ViewBag.Title = HRModuleUI.HumanResourceUI.lblLeaveRequest;// "Leave Request";
}
<style>
    /*.k-pivot-table*/

</style>
<div class="card">
    <div class="card-block">
        <form id="frmLeaveDetail" name="frmLeaveDetail" action="/services/Xtreme/multipart" method="post">
            <!--type is required should be same as command name-->
            <input type="hidden" name="type" id="type" value="Request_Leave_Save" />
            <input type="hidden" name="Id" id="Id" value="0" />
            <input type="hidden" name="CreatedBy" id="CreatedBy" value="0" />
            <input type="hidden" name="Language" id="Language" value="" />
            <input type="hidden" name="EditLeavDays" id="EditLeavDays" value="0" />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblLeaveType</label>
                        <input class="form-control" id="LeaveTypeId" name="LeaveTypeId" required />
                    </div>
                </div>
                <div class="col-md-8"></div>

            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblAvailableBalance </label>
                        <input class="form-control" id="AvailableLeave" name="AvailableLeave" readonly />
                    </div>
                </div>
                <div class="col-md-8"></div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label">@Resources.Global.lblStartDate </label>
                        <input class="form-control" id="StartDate" name="StartDate" required />
                    </div>
                </div>
                <div class="col-md-8"></div>

            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label">@Resources.Global.lblEndDate</label>
                        <input class="form-control" id="EndDate" name="EndDate" required />
                    </div>
                </div>
                <div class="col-md-8"></div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblNumberOfDays</label>
                        <input class="form-control" id="TotalDays" name="TotalDays" value="0" readonly />
                    </div>
                </div>
                <div class="col-md-8"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="btnSave" class="btn btn-success pull-right"><i class="fa fa-send"></i>  @HRModuleUI.HumanResourceUI.lblSend</button>
                </div>
            </div>

        </form>


        <div class="grid-main-div">
            <div class="row ">
                <div class="col-md-12">
                    <div id="LeaveGrid"></div>
                </div>
            </div>
        </div>


    </div>
</div>



@section scripts {

    <script src="~/Scripts/FunctionalityJs/Areas/Request/Leave/leave.js"></script>
    <script>
        //Grid columns
        var leaveType = '@HRModuleUI.HumanResourceUI.lblLeaveType';
        var availableBalance = '@HRModuleUI.HumanResourceUI.lblAvailableBalance';
        var numberOfDays = '@HRModuleUI.HumanResourceUI.lblNumberOfDays';
        var status = '@HRModuleUI.HumanResourceUI.lblStatus';
        var startDate = '@Resources.Global.lblStartDate';
        var endDate = '@Resources.Global.lblEndDate';
        var action = '@Resources.Global.lblAction';
        var comment = '@HRModuleUI.HumanResourceUI.lblComment';



    </script>

}



