
@{
    ViewBag.Title = HRModuleUI.HumanResourceUI.lblShortLeaveRequest;//"Short Leave Request";
}

<div class="card">
    <div class="card-block">
        <form id="frmShortLeaveDetail" name="frmShortLeaveDetail" action="/services/Xtreme/multipart" method="post">
            <!--type is required should be same as command name-->
            <input type="hidden" name="type" id="type" value="Request_ShortLeave_Save" />
            <input type="hidden" name="Id" id="Id" value="0" />
            <input type="hidden" name="CreatedBy" id="CreatedBy" value="0" />
            <input type="hidden" name="Language" id="Language" value="" />
            <input type="hidden" name="EditLeaveHours" id="EditLeaveHours" value="0" />

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblRequestDate</label>
                        <input class="form-control" id="RequestDate" name="RequestDate" required />
                    </div>
                </div>
                <div class="col-md-8">  </div>

            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblAvailableBalance</label>
                        <input class="form-control" id="AvailableShortLeave" name="AvailableShortLeave" readonly />
                    </div>
                </div>
                <div class="col-md-8">  </div>

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblStartTime </label>
                        <input class="form-control" id="StartTime" name="StartTime" required />
                    </div>
                </div>
                <div class="col-md-8">  </div>

            </div>
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblReturnTime </label>
                        <input class="form-control" id="EndTime" name="EndTime" required />
                    </div>
                </div>
                <div class="col-md-8">  </div>

            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblNumberOfHours </label>
                        <input class="form-control" id="NumberOfHours" name="NumberOfHours" value="0" readonly />
                    </div>
                </div>  <div class="col-md-8">  </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="btnSave" class="btn btn-success pull-right"><i class="fa fa-send"></i>  @HRModuleUI.HumanResourceUI.lblSend</button>
                </div>
            </div>

        </form>

        <div class="grid-main-div">
            <div class="row">
                <div class="col-md-12">
                    <div id="ShortLeaveGrid"></div>
                </div>
            </div>
        </div>


    </div>
</div>


@section scripts {

    <script src="~/Scripts/FunctionalityJs/Areas/Request/ShortLeave/short-leave.js"></script>

    <script>
        //Grid columns
        var requestDate = '@HRModuleUI.HumanResourceUI.lblRequestDate';
        var comment = '@HRModuleUI.HumanResourceUI.lblComment';
        var availableBalance = '@HRModuleUI.HumanResourceUI.lblAvailableBalance';
        var status = '@HRModuleUI.HumanResourceUI.lblStatus';
        var startTime = '@HRModuleUI.HumanResourceUI.lblStartTime';
        var returnTime = '@HRModuleUI.HumanResourceUI.lblReturnTime';
        var numberOfHourse = '@HRModuleUI.HumanResourceUI.lblNumberOfHours';
          var requestDenyComment = '@HRModuleUI.HumanResourceUI.lblRequestDenyComment';
        var action = '@Resources.Global.lblAction';

    </script>

}



