
@{
    ViewBag.Title = HRModuleUI.HumanResourceUI.lblPayroll;

}

<style>
    .totalAddition {
        background-color: #2ecc71;
        border-bottom: 1px solid #edebeb !important;
        color: white;
        font-weight: bold;
        border-bottom: 1px solid #edebeb !important;
    }

    .grossSalary {
        background-color: #0275d8;
        border-bottom: 1px solid #edebeb !important;
        color: white;
        font-weight: bold;
        border-bottom: 1px solid #edebeb !important;
    }

    .totalDeductionApplied {
        background-color: #e74c3c;
        font-size: 15px;
        color: white;
        font-weight: bold;
        border-bottom: 1px solid #edebeb !important;
    }
</style>


<input type="hidden" name="type" id="type" value="Setup_Allowance_Type_Save" />
<input type="hidden" name="Id" id="Id" value="0" />
<input type="hidden" name="CreatedBy" id="CreatedBy" value="0" />
<input type="hidden" name="Language" id="Language" value="" />

<div class="card">
    @*<div class="card-header">
            <h5>@HRModuleUI.HumanResourceUI.lblPayroll</h5>
            <div class="card-header-right">

            </div>
        </div>*@
    <div class="card-block">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblSection</label>
                    <input type="text" class="form-control" id="DepartmentId" name="DepartmentId" value="" tabindex="1" />
                </div>

            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblProfession</label>
                    <input class="form-control" id="DesignationID" name="DesignationID" required tabindex="2" />
                </div>

            </div>
            <div class="col-md-2">
                <div>
                    <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblSelect @HRModuleUI.HumanResourceUI.lblMonth</label>
                    <select class="form-control" id="PayrollMonth" name="PayrollMonth" tabindex="3">

                        <option selected="" value="January">@HRModuleUI.HumanResourceUI.lblJanuary</option>
                        <option value="February">@HRModuleUI.HumanResourceUI.lblFebruary </option>
                        <option value="March">@HRModuleUI.HumanResourceUI.lblMarch</option>
                        <option value="April">@HRModuleUI.HumanResourceUI.lblApril</option>
                        <option value="May">@HRModuleUI.HumanResourceUI.lblMay</option>
                        <option value="June">@HRModuleUI.HumanResourceUI.lblJune</option>
                        <option value="July">@HRModuleUI.HumanResourceUI.lblJuly</option>
                        <option value="August">@HRModuleUI.HumanResourceUI.lblAugust</option>
                        <option value="September">@HRModuleUI.HumanResourceUI.lblSeptember</option>
                        <option value="October">@HRModuleUI.HumanResourceUI.lblOctober</option>
                        <option value="November">@HRModuleUI.HumanResourceUI.lblNovember</option>
                        <option value="December">@HRModuleUI.HumanResourceUI.lblDecember</option>
                    </select>


                </div>
            </div>
            <div class="col-md-1">
                <div>
                    <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblSelect @HRModuleUI.HumanResourceUI.lblYear</label>
                    <select class="form-control" id="PayrollYear" name="PayrollYear" tabindex="4">

                        <option selected value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                        <option value="2031">2031</option>
                        <option value="2032">2032</option>
                        <option value="2033">2033</option>
                        <option value="2034">2034</option>
                        <option value="2035">2035</option>

                    </select>


                </div>
            </div>
            <div class="col-md-4" style="top: 40px;">
                <div>
                    <button class="btn btn-success" id="btn-search"><i class="fa fa-search"></i> @HRModuleUI.HumanResourceUI.lblSearch</button>
                    <span class="showHideBtn" style="display: none;">
                        <button class="btn btn-primary" id="btn-proceed-addition-deduction"><i class="fa fa-checked"></i>@HRModuleUI.HumanResourceUI.lblProceed</button>


                    </span>
                    <span class="showProceedMsg" style="">
                        <button class="btn btn-primary" disabled="" style="font-weight: bold;font-size: smaller;">
                            @HRModuleUI.HumanResourceUI.lblPayrollisalreadyprocessed
                        </button>



                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-main-div">
        <div class="row">
            <div class="col-md-12">
                <div id="grid-payroll"></div>
            </div>
        </div>
    </div>


</div>


@*=========================== *@
@*=========================== *@
@*=========================== *@
@*=========================== *@
@*======================================= MODAL*@
<!-- Add/Update  Ends Model end-->
<style>
    .modal-lg {
        max-width: 85em;
    }

    .md-modal {
        width: 103em !important;
    }
</style>


<div class="modal custom-modal fade modal-add-update-payroll-addition-deduction" role="dialog" style="display: none;" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-md-8 " id="nameofEmployee">@HRModuleUI.HumanResourceUI.lblEmployeeSalaryRecord</h5>

                <button type="button" class="close md-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>

            </div>
            <form class="md-float-material" id="frmAddUpdatePayrollAdditionDeduction" name="frmAddUpdatePayrollAdditionDeduction" action="/services/Xtreme/multipart" method="post">
                <div class="modal-body p-b-0" style="overflow-y: scroll;overflow-x: hidden; height: 500px;">
                    <input type="hidden" id="EmployeeID" name="EmployeeID" value="00000000-0000-0000-0000-000000000000" />
                    <input type="hidden" id="PayrollID" name="PayrollID" value="00000000-0000-0000-0000-000000000000" />
                    <input type="hidden" id="PayrollDeductionID" name="PayrollDeductionID" value="00000000-0000-0000-0000-000000000000" />
                    <input type="hidden" id="PayrollAdditionID" name="PayrollAdditionID" value="00000000-0000-0000-0000-000000000000" />
                    <input type="hidden" name="type" id="type" value="addUpdateEmployeePayrollAdditionDeduction" />
                    <div class="form-control">
                        <div class="row ">

                            <div class="col-sm-2">
                                <div>
                                    <label class="form-control-label">@HRModuleUI.HumanResourceUI.lblBasicSalary:</label>
                                    <input class="form-control" type="number" name="BasicSalary" readonly id="BasicSalary" value="">
                                </div>
                            </div>


                            <div class="col-sm-2">
                                <label class="form-control-label">Total Hour(s):</label>
                                <div>  <input class="form-control" type="text" name="TotalHours" readonly id="TotalHours" value=""> </div>

                            </div>
                            <div class="col-sm-2">
                                <div>
                                    <label class="form-control-label">@HRModuleUI.HumanResourceUI.lblOverTime:</label>
                                    <input class="form-control" type="text" name="overtime" readonly id="overtime" value="" oninput="this.value = Math.abs(this.value)">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="form-control-label">@HRModuleUI.HumanResourceUI.lblTotalPresents:</label>
                                <div style="">
                                    <input class="form-control" type="number" name="isPresent" readonly="" id="isPresent" value="" style="background: #2ecc71;color: white;">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label class="form-control-label">@HRModuleUI.HumanResourceUI.lblTotalAbsents:</label>
                                <div>
                                    <input class="form-control" type="number" name="isAbsent" readonly="" id="isAbsent" value="" style="background: red;color: white;font-weight: bold;">
                                </div>
                            </div>
                            <div class="col-sm-2" style="">
                                <label class="form-control-label">@HRModuleUI.HumanResourceUI.lblTotalLeaves:</label>
                                <div>
                                    <input class="form-control" type="number" name="isLeave" readonly="" id="isLeave" value="" style="background: #f1c40f;color: white;">
                                </div>
                            </div>
                        </div>

                    </div>
                    <hr />
                    <div class="row" >
                        <div class="col-sm-6 " style=" background:#2ecc7136;">
                            @*<div class="appendAddition" style="margin-left: 10px;"> </div>
                                <div class="appendLabourAddition" style="margin-left: 10px;"> </div>*@

                            <div class="row">
                                <div class="col-sm-6 " style=" background:#2ecc7136;">

                                    <b>  @HRModuleUI.HumanResourceUI.lblAllowances</b><hr />
                                    <table class="appendAllowances">  </table>


                                </div>
                                <div class="col-sm-6 " style="background: #3ab35f42; ">
                                    <b>@HRModuleUI.HumanResourceUI.lblSalarySetting @HRModuleUI.HumanResourceUI.lblAddition</b><hr />

                                    <table class="appendAddition"></table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 card-block" style=" background:#2ecc7136;">
                                    <b>  @HRModuleUI.HumanResourceUI.lblBonuses</b>
                                    <a class="btn btn-sm btn-primary   @Resources.Common.PullRight" id="btn_add_bonus"   data-toggle="modal" data-target=".modal-add-update-bonuses" value="Add" style="color: white;"> @HRModuleUI.HumanResourceUI.lblAddNew</a>

                                    <hr />
                                    <table class="appendBonuses" style="width:100%;">  </table>


                                </div>

                            </div>
                        </div>
                        <div class="col-sm-6 " style="background: #e74c3c36;">

                            <div class="row">
                                <div class="col-md-6">

                                    <b> @HRModuleUI.HumanResourceUI.lblDeduction</b><hr />

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div>
                                                <div class="form-group">
                                                    <label>@HRModuleUI.HumanResourceUI.lblSecurityDeduction</label>
                                                    <input class="form-control" min="0" name="SecurityDeduction" id="SecurityDeduction" type="number" value="0" oninput="this.value = Math.abs(this.value)">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <div>
                                                <div class="form-group">
                                                    <label>@HRModuleUI.HumanResourceUI.lblLeaveDeduction</label>
                                                    <input class="form-control" min="0" name="LeaveDeduction" id="LeaveDeduction" type="number" value="0" oninput="this.value = Math.abs(this.value)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div>
                                                <div class="form-group">
                                                    <label>@HRModuleUI.HumanResourceUI.lblLabourWelfareDeduction</label>
                                                    <input class="form-control" min="0" name="LabourWelfareDeduction" id="LabourWelfareDeduction" type="number" value="0" oninput="this.value = Math.abs(this.value)">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <div>
                                                <div class="form-group">
                                                    <label>@HRModuleUI.HumanResourceUI.lblProvidentFundDeduction</label>
                                                    <input class="form-control" min="0" name="ProvidentFundDeduction" id="ProvidentFundDeduction" type="number" value="0" oninput="this.value = Math.abs(this.value)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div>
                                                <div class="form-group">
                                                    <label>@HRModuleUI.HumanResourceUI.lblOtherDeduction</label>
                                                    <input class="form-control" min="0" name="OtherDeduction" id="OtherDeduction" type="number" value="0" oninput="this.value = Math.abs(this.value)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" style="background-color: #b33a3a24">
                                    <b>@HRModuleUI.HumanResourceUI.lblSalarySetting @HRModuleUI.HumanResourceUI.lblDeduction</b><hr />

                                    <table class="appendDeduction"></table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="card-footer">





                    @*<button type="button" id="btnSave" class=" btn btn-primary waves-effect m-r-20 f-w-600 d-inline-block save_btn" tabindex="24"><i class="fa fa-save"></i> Save</button>*@
                    <button type="button" id="btnClose" class=" @Resources.Common.PullRight btn btn-danger waves-effect m-r-20 f-w-600 d-inline-block md-close" data-dismiss="modal"  ><i class="fa fa-close"></i> @Resources.Global.lblClose</button>
                    <button type="button" class="btn btn-success   @Resources.Common.PullRight" id="btnSave" value="Save"><i class="fa fa-save"></i> @Resources.Global.btnSave</button>
                    <button type="reset" style="display:none !important;" class=" @Resources.Common.PullRight btn btn-danger waves-effect m-r-20 f-w-600 d-inline-block reset_btn"><i class="fa fa-remove"></i> @Resources.Global.btnReset</button>


                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal custom-modal fade modal-add-update-bonuses" role="dialog" style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-md-8 ">@HRModuleUI.HumanResourceUI.btnSave @HRModuleUI.HumanResourceUI.lblBonus</h5>

                @*<button type="button" class="close md-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> </button>*@

            </div>
            <form class="md-float-material" id="frmAddUpdatePayrollBonuses" name="frmAddUpdatePayrollBonuses" action="/services/Xtreme/multipart" method="post">
                @*<div class="modal-body p-b-0" style="overflow-y: scroll;overflow-x: hidden; height: 500px;">*@
                <div class="modal-body p-b-0" >
                    <input type="hidden" id="PayrollBonusID" name="PayrollBonusID" value="0" />
                    <input type="hidden" id="B_EmployeeID" name="B_EmployeeID" value="0" />
                    <input type="hidden" id="B_PayrollID" name="B_PayrollID" value="0" />
                    <input type="hidden" id="B_CreatedBy" name="B_CreatedBy" value="0" />
                    <input type="hidden" id="B_Language" name="B_Language" value="0" />

                    <input type="hidden" name="type" id="type" value="PayrollBonus_Save" />
                    <div class="form-control">
                        <div class="row ">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">@HRModuleUI.HumanResourceUI.lblNameEng:</label>
                                    <input class="form-control" type="text" name="B_NameEng" id="B_NameEng" value="" required>
                                </div>
                            </div>
                           
                        </div>
                        <div class="row ">

                          
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">@HRModuleUI.HumanResourceUI.lblNameArb:</label>
                                    <input class="form-control" type="text" name="B_NameArb" id="B_NameArb" value="" required>
                                </div>
                            </div>

                        </div>
                        <div class="row ">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="form-control-label">@HRModuleUI.HumanResourceUI.lblAmount:</label>
                                    <input class="form-control" type="number" name="B_Amount" id="B_Amount" value="" required>
                                </div>
                            </div>

                        </div>
                        

                        <div class="row ">

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-control-label">@HRModuleUI.HumanResourceUI.lblremarks:</label>
                                    <input class="form-control" type="text" name="B_Remarks" id="B_Remarks" value="">
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </form>
            <div class="card-footer">
                <button type="button" id="btnClose_Bonus" class=" @Resources.Common.PullRight btn btn-danger waves-effect m-r-20 f-w-600 d-inline-block md-close" 
                       
                        data-toggle="modal" data-target=".modal-add-update-bonuses" 
                        ><i class="fa fa-close"></i> @Resources.Global.lblClose</button>
                <button type="button" id="btnSave_Bonus"   class="btn btn-success   @Resources.Common.PullRight" value="Save"><i class="fa fa-save"></i> @Resources.Global.btnSave</button>
                <button type="reset" id="btnReset_Bonus" style="display:none !important;" class=" @Resources.Common.PullRight btn btn-danger waves-effect m-r-20 f-w-600 d-inline-block ">  @Resources.Global.btnReset</button>


            </div>

        </div>
    </div>
</div>






@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/HumanResource/Payroll/payroll.js"></script>
    <script>
        //Grid columns
        var lblEmployeeName = '@HRModuleUI.HumanResourceUI.lblEmployeeName';
        var lblProfession = '@HRModuleUI.HumanResourceUI.lblProfession';
        var lblBasicSalary = '@HRModuleUI.HumanResourceUI.lblBasicSalary';
        var P = '@HRModuleUI.HumanResourceUI.lblPresent';
        var A = '@HRModuleUI.HumanResourceUI.lblAbsent';
        var L = '@HRModuleUI.HumanResourceUI.lblLeave';
        var lblTotal = '@HRModuleUI.HumanResourceUI.lblTotal';
        var lblAddition = '@HRModuleUI.HumanResourceUI.lblAddition';
        var lblDeduction = '@HRModuleUI.HumanResourceUI.lblDeduction';
        var lblGrossSalary = '@HRModuleUI.HumanResourceUI.lblGrossSalary';
        var lblNetSalary = '@HRModuleUI.HumanResourceUI.lblNetSalary';
        var lblSalaryGeneratedSuccessfully = '@HRModuleUI.HumanResourceUI.lblSalaryGeneratedSuccessfully';

        var lblBonus = '@HRModuleUI.HumanResourceUI.lblBonus';
        var lblBonuses = '@HRModuleUI.HumanResourceUI.lblBonuses';
        var lblNameEng = '@HRModuleUI.HumanResourceUI.lblNameEng';
        var lblNameArb = '@HRModuleUI.HumanResourceUI.lblNameArb';
        var lblAmount = '@HRModuleUI.HumanResourceUI.lblAmount';
        var lblremarks = '@HRModuleUI.HumanResourceUI.lblremarks';

        var lblSaved = '@Resources.Global.lblSaved';
        




    </script>
}



