

<div class="div-show-only-for-technical-section-employee-available-area form-control selectedColor" style="display:block">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-form-label">@ProjectUI.ProjectUI.lblAssign @HRModuleUI.HumanResourceUI.lblDate </label> <span style="color:red">*</span> <br />
                        <input class="form-control" type="datetime" id="TechnicalSection_AssignedDocument_StartDate" value="" />
                    </div>
                </div>



            </div>
            <div class="row">

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-form-label">@ProjectUI.ProjectUI.lblCompletionDate</label> <span style="color:red">*</span> <br />
                        @*<input class="form-control" type="date"  id="DesignSection_AssignedDocument_StartDate" value="@Convert.ToDateTime(DateTime.Today).ToString("yyyy-MM-dd")"  />*@
                        <input class="form-control" type="text" id="TechnicalSection_CompletionDate" value="" />
                    </div>
                </div>


            </div>
            <div class="row ">
                <div class="col-md-12">
                    <div class="form-group  typeddlRow">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblSelect @ProjectUI.ProjectUI.lblType</label> <br />
                        <div id="container">

                            <input type="text" class="form-control pname" id="Project_TechnicalSection_SetupDetail_TypeDDL">
                        </div>
                        <input type="hidden" class="form-control pname" name="Project_TechnicalSection_Type_SetupDetail_Id" id="Project_TechnicalSection_Type_SetupDetail_Id" value="0">
                    </div>
                </div>
                @*
                        <button type="button" id="btnPendingData" onclick="fnLoadGridById_for_Technical_Section(this.value);" class="btn btn-outline-danger  pull-left active" value="Pending"><i class=""></i> Available Employees</button>
                        <button id="btnApprovedData" onclick="fnLoadGridById_for_Technical_Section(this.value);" class="btn btn-outline-info pull-left" value="Assigned"><i class=""></i> Assigned </button>
                        <div id="btnAreaShowHideOnConditionBase">

                            <button type="button" class="btn btn-danger pull-right btnClose " data-dismiss="modal">Close</button>
                            <button type="button" id="btn-save-technical-section-employees" class="btn btn-success  pull-right" value="Save"><i class="fa fa-save"></i> Save</button>

                        </div>
                    </div>*@
                <div class="col-md-12">
                    <div class="card-footer" id="btnAreaShowHideOnConditionBase">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btn-save-technical-section-employees" class="btn btn-success  pull-right" value="Save"><i class="fa fa-save"></i> @Resources.Global.btnSave</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div class="grid-main-div">
                <div class="row">
                    <div class="col-md-12">

                        <div id="grid-load-tecnical-section-all-employees">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label class="col-form-label technical-section-show-sub-section-name" style="font-size:x-large; text-decoration:underline"> </label> <br>

        </div>
    </div>
</div>





<script>
    $(function () {
        //| Date Picker
        renderKendoDateAndTimePickerWithNewFormat('TechnicalSection_AssignedDocument_StartDate');
        renderKendoDateAndTimePickerWithNewFormat('TechnicalSection_CompletionDate');
        //|End Date Picker
        //  $('#modal-load-all-technical-section-employees').modal();

        setTimeout(function () {
            if (parameterId == null || parameterId == 0 || parameterId == '') {
                parameterId = $('#TechnicalSection_Document_ProjectId').val()
            }
            

                loadTechnicalSectionAllEmployees();
            

            loadProject_TechnicalSection_SetupDetail_TypeDDL();

            if ($('.technical-section-parent-ddl-name').text().trim() != 'Structural Section' && $('.technical-section-parent-ddl-name').text().trim() != 'Municipality Section') {

                $('.typeddlRow').show();
            } else {

                $('.typeddlRow').hide();
            }

        }, 150);
    });

    function loadTechnicalSectionAllEmployees() {

        ajaxRequest({
            commandName: 'Project_HR_Employee', values: {
                Project_Id: parameterId,
                Main_Section_Id: $('#Project_Technical_Section_Parent_Type_DDL').val(), //$('.sectionAndSubSectionId').attr('technical-section-data-main-section-id'),
                Sub_Section_Id: $('#Project_TechnicalSection_SetupDetailTypeDDL').val(),  //$('.sectionAndSubSectionId').attr('technical-section-data-sub-section-id'),
                Language: _currentLanguage,
                callingArea: 'TechnicalSection'
            }, CallBack: loadTechnicalSectionAllEmployeesCallBack
        });
    }
    var loadTechnicalSectionAllEmployeesCallBack = function (inputDataJSON) {
        bindloadTechnicalSectionAllEmployees(JSON.parse(inputDataJSON.Value));
    }
    var bindloadTechnicalSectionAllEmployees = function (inputDataJSON) {


        var gridColumnss = [

            { title: "#", template: "<b>#= ++record #</b>", width: 15 },
            { field: "id", title: "id", width: 10, hidden: true },
            {
                field: "employeeNumber", title: employeeNumber, width: 50, hidden: false, filterable: { cell: { operator: "contains", suggestionOperator: "contains" } }
                //    , template: "<a style='cursor:pointer;text-decoration:underline;color:blue;'  class='viewbutton' onClick= fnLoadDetailScreen(this)  '>#=document#</a> ",
            },
            { field: "empName", title: employeeName, width: 100, filterable: { cell: { operator: "contains", suggestionOperator: "contains" } } },
            { field: "professionName", title: lblProfessionName, width: 100, filterable: { cell: { operator: "contains", suggestionOperator: "contains" } } },
            { field: "employee_TotalProject", title: employee_TotalProject, width: 30, filterable: false },
            {
                headerTemplate: "<input type='checkbox' id='checkAll'  class='k-checkbox header-checkbox'>",
                template: function (dataItem) {
                    if (dataItem.isAssigned == 1) {
                        return "<div><input type='checkbox' class='k-checkbox row-checkbox' id='target' checked ></div>";
                    }
                    else {
                        return "<div><input type='checkbox' class='k-checkbox row-checkbox' id='target' unchecked='true'></div>";
                    }
                },
                width: 15
            },

        ];

        bindKendoGrid('grid-load-tecnical-section-all-employees', 100, gridColumnss, inputDataJSON, true, 550);
        /*$("#grid-load-tecnical-section-all-employees thead [data-field=professionName] .k-link").html(".professionName")*/

        $('#checkAll').show();
    };

    $(document).on("click", "#checkAll", function () {
        if (this.checked) {

            $("#grid-load-tecnical-section-all-employees tbody input:checkbox").attr("checked", true);
        } else {
            $("#grid-load-tecnical-section-all-employees tbody input:checkbox").attr("checked", false);


        }
    });


    //---------------- BUTTON EVENTS
    $('#btn-save-technical-section-employees').unbind("click").click(function (e) {
        var valid = true;

        var thisFieldIsRequired = _currentLanguage == 'en-US' ? 'This field is required' : 'هذه الخانة مطلوبة';
        if ($('#Project_Technical_Section_Parent_Type_DDL').val() == '-1') {

            $('#Project_Technical_Section_Parent_Type_DDL').next("span").remove();
            $('#Project_Technical_Section_Parent_Type_DDL').after("<span style='color:red;'>" + thisFieldIsRequired + "</span>");
            valid = false;
        } else {
            $('#Project_Technical_Section_Parent_Type_DDL').next("span").remove();
        }
        if ($('#Project_TechnicalSection_SetupDetailTypeDDL').val() == '-1') {

            $('#Project_TechnicalSection_SetupDetailTypeDDL').next("span").remove();
            $('#Project_TechnicalSection_SetupDetailTypeDDL').after("<span style='color:red;'>" + thisFieldIsRequired + "</span>");
            valid = false;

        } else {
            $('#Project_TechnicalSection_SetupDetailTypeDDL').removeClass("invalid");
            $('#Project_TechnicalSection_SetupDetailTypeDDL').next("span").remove();
        }


        if ($("#Project_TechnicalSection_SetupDetailTypeDDL").data("kendoDropDownList").text().trim() == 'Design Section') {
            if ($('#Project_TechnicalSection_SetupDetail_TypeDDL').val() == '-1') {

                $('#Project_TechnicalSection_SetupDetail_TypeDDL').next("span").remove();
                $('#Project_TechnicalSection_SetupDetail_TypeDDL').after("<span style='color:red;'>" + thisFieldIsRequired + "</span>");
                valid = false;

            } else {
                $('#Project_TechnicalSection_SetupDetail_TypeDDL').removeClass("invalid");
                $('#Project_TechnicalSection_SetupDetail_TypeDDL').next("span").remove();
            }

        }
        if (valid == true) {
            fnSaveOrCancel_TechnicalSection_Employees(this.value, 'btn-save-technical-section-employees', 'save');
        }
    });


    function fnSaveOrCancel_TechnicalSection_Employees(btnValue, btnId, btnIcon) {

        loopThroughGridDataSave(btnValue, btnId, btnIcon);

    }


    function loopThroughGridDataSave(btnValue, btnId, btnIcon) {

        var grid = $("#grid-load-tecnical-section-all-employees").data("kendoGrid");

        var gridd = grid.dataSource._data;
        var postingArray = [];
        for (var i = 0; i < gridd.length; i++) {
            var isAssigned = grid.tbody.find("tr:eq(" + i + ")").find('.row-checkbox').is(':checked');

            var gridRow = gridd[i];
            if (isAssigned == true) {
                postingArray.push(
                    {

                        //--------- Grid Data-------------
                        Id: 0,
                        Project_Id: parameterId,
                        HR_Employee_Id: parseInt(gridRow.id),
                        Section_Entity_Id: $('#Setup_SetupType_Id_for_Technical_Section').val(),
                        Sub_Section_Entity_Id: $('#Project_TechnicalSection_Type_SetupDetail_Id').val() == 0 ? $('#Project_TechnicalSection_Entity_Id').val() : $('#Project_TechnicalSection_Type_SetupDetail_Id').val(),
                        CreatedBy: parseInt(JSON.parse(localStorage.getItem('User')).id),
                        LoggedIn_EmployeeId: JSON.parse(localStorage.getItem('User')).employeeId,

                    });
            }

        }
        if (postingArray.length > 0) {
            //  console.log(postingArray)
            ajaxRequest({
                commandName: 'Project_Save_Multiple_Employees',
                values:
                {
                    ProjectModel: postingArray,
                    CreatedBy: JSON.parse(localStorage.getItem('User')).id,
                    Assign_StartDate: $('#TechnicalSection_AssignedDocument_StartDate').val(),
                    Assign_CompletionDate: $('#TechnicalSection_CompletionDate').val(),

                    Language: _currentLanguage
                }, CallBack: fn_project_save_Multiple_employee_callback
            });

        } else {
            //buttonRemovePleaseWait('btn-save-technical-section-employees', save, 'save');
            swalMessage('info', lblFristSelectRecordFromGrid, 1500);
            return 0;
        }
    }

    var fn_project_save_Multiple_employee_callback = function (response) {
        swal(response.Value);
        loadTechnicalSectionAllEmployees();

        fnloadAssignedEmployees_TechnicalSection($('#Project_Technical_Section_Parent_Type_DDL').val(), $('#Setup_SetupType_Id_for_Technical_Section').val());
        //| Date Picker
        renderKendoDateAndTimePickerWithNewFormat('TechnicalSection_AssignedDocument_StartDate');
        renderKendoDateAndTimePickerWithNewFormat('TechnicalSection_CompletionDate');
        //|End Date Picker
    }


    //--------------------- FUNCTION AREA ----------------
    function fnLoadGridById_for_Technical_Section(btnValue) {


        //if (btnValue == 'Assigned') {

        //    fnloadAssignedEmployees();
        //} else {
        loadTechnicalSectionAllEmployees();
        /*}*/
    }

    /*

    function fnloadAssignedEmployees() {


        ajaxRequest({
            commandName: 'Project_Linked_Employees_Technical_Section_By_SectionId_Get',
            values: {
                Project_Id: parameterId,
                Section_Id: $('#Project_Technical_Section_Parent_Type_DDL').val(),// $('.sectionAndSubSectionId').attr('technical-section-data-main-section-id'),
                Sub_Section_Id: 0,
                Language: _currentLanguage
            }, CallBack: fnloadAssignedEmployeesCallBack
        });
    }
    var fnloadAssignedEmployeesCallBack = function (inputDataJSON) {


        bindfnload_TechnicalSection_AssignedEmployees(JSON.parse(inputDataJSON.Value));

    }
    var bindfnload_TechnicalSection_AssignedEmployees = function (inputDataJSON) {


        var gridColumns = [

            { title: "#", template: "<b>#= ++record #</b>", width: 15 },
            { field: "id", title: "id", width: 10, hidden: true },
            {
                field: "employeeNumber", title: ".employee #", width: 50, hidden: false, filterable: { cell: { operator: "contains", suggestionOperator: "contains" } }
                //    , template: "<a style='cursor:pointer;text-decoration:underline;color:blue;'  class='viewbutton' onClick= fnLoadDetailScreen(this)  '>#=document#</a> ",
            },
            { field: "empName", title: ".empName", width: 100, filterable: { cell: { operator: "contains", suggestionOperator: "contains" } } },
            { field: "setup_type_detail_name", title: "Assigned Section", width: 100, filterable: { cell: { operator: "contains", suggestionOperator: "contains" } } },
            {
                field: "", width: 10, title: ' ',
                template: " <a style='font-size:20px;cursor:pointer;' onClick= deleteAssignedEmployeeById(this)  title='Delete '><span class='fa fa-trash'></span></a>  "
            },
        ];

        bindKendoGrid('grid-load-tecnical-section-all-employees', 100, gridColumns, inputDataJSON, true, 550);
        $("#grid-load-tecnical-section-all-employees thead [data-field=setup_type_detail_name] .k-link").html("Assigned Section")
        $('#checkAll').hide();

    };


    function deleteAssignedEmployeeById(event) {

        var row = $(event).closest("tr");
        var grid = $("#grid-load-tecnical-section-all-employees").data("kendoGrid");
        var dataItem = grid.dataItem(row);
        Swal.fire({

            title: areYouSureTitle,
            text: doYouReallyWantToDeletThisRecord,
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#5cb85c',
            cancelButtonColor: '#d9534f',
            confirmButtonText: btnYesText,
            cancelButtonText: btnNoText,
            buttons: {
                cancel: {
                    text: "No",
                    value: null,
                    visible: true,
                    className: "btn btn-danger",
                    closeModal: true
                },
                confirm: {
                    text: "Yes",
                    value: true,
                    visible: true,
                    className: "btn btn-warning",
                    closeModal: true
                }
            }
        }).then(function (restult) {
            if (restult.value) {
                ajaxRequest({ commandName: 'Project_Linked_Multiple_Employees_Delete_By_Id', values: { Id: dataItem.id, UserId: JSON.parse(localStorage.getItem('User')).id, Language: _currentLanguage }, CallBack: deleteAssignedEmployeeByIdCallBack });
            }
        });
        var deleteAssignedEmployeeByIdCallBack = function (response) {
            swal(response.Value);
            fnloadAssignedEmployees();
        }

    }

    */

    //---------------- DDL LOAD

    function loadProject_TechnicalSection_SetupDetail_TypeDDL() {

        ajaxRequest({ commandName: 'DDL_TECHNICAL_SECTION_Project_Setup_TypeDetail_Deleted_Get', values: { TypeName: $("#Project_Technical_Section_Parent_Type_DDL").data("kendoDropDownList").text().trim(), Language: _currentLanguage }, CallBack: loadProject_TechnicalSection_SetupDetail_TypeDDLCallBack });
    }
    var loadProject_TechnicalSection_SetupDetail_TypeDDLCallBack = function (loadjQueryDropdownListResponse, controlId) {


        $("#Project_TechnicalSection_SetupDetail_TypeDDL").kendoDropDownList({
            dataValueField: "id",
            dataTextField: "name",
            filter: "contains",
            value: -1,
            dataSource: JSON.parse(loadjQueryDropdownListResponse.Value),
            popup: { appendTo: $("#container") },
            select: onSelect_Type,

        });

    }

    function onSelect_Type(e) {
        var selected_Id = e.dataItem.id;
        $('#Project_TechnicalSection_Type_SetupDetail_Id').val(selected_Id);

    };
</script>


