







<form id="frmAddUpdate_SupervisionSection_Document" name="frmAddUpdate_SupervisionSection_Document" action="/services/Xtreme/multipart" method="post">


    <input type="hidden" name="SupervisionSection_Document_Id" id="SupervisionSection_Document_Id" value="0">
    <input type="hidden" name="SupervisionSection_Document_CreatedBy" id="SupervisionSection_Document_CreatedBy" value="0">
    <input type="hidden" name="SupervisionSection_Document_ProjectId" id="SupervisionSection_Document_ProjectId" value="0">
    <input type="hidden" name="type" id="type" value="Project_SupervisionSection_Document_Save">
    <input type="hidden" name="SupervisionSection_Document_Language" id="SupervisionSection_Document_Language" class="Language" value="">

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">@ProjectUI.ProjectUI.lblSection</label><span style="color:red"> *</span><br />
                <input class="form-control" id="Project_Supervision_Section_Parent_Type_DDL" name="Project_Supervision_Section_Parent_Type_DDL" required />
                <input type="hidden" class="form-control" id="Setup_SetupType_Id_for_Supervision_Section" name="Setup_SetupType_Id_for_Supervision_Section" value="0" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">@ProjectUI.ProjectUI.lblSubSection</label><span style="color:red"> *</span><br />
                <input type="text" class="form-control pname" name="Project_SupervisionSection_SetupDetailTypeDDL" id="Project_SupervisionSection_SetupDetailTypeDDL" required>
                <input type="hidden" class="form-control pname" name="Project_SupervisionSection_Entity_Id" id="Project_SupervisionSection_Entity_Id" value="0">
                <input type="hidden" class="form-control pname" name="Project_Supervision_Section_Parent_Type_DDL_Text" id="Project_Supervision_Section_Parent_Type_DDL_Text" value=" ">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <button type="button" onclick="fnLoadSupervisionSectionArea(this);" class="btn btn-secondary pull-left active checkbtnValue" value="Upload Document"><i class=""></i> Upload Document</button>
            <button type="button" onclick="fnLoadSupervisionSectionArea(this);" class="btn btn-secondary pull-left checkbtnValue" value="Available Employee"><i class=""></i> Available Employee(s) </button>
            <button type="button" onclick="fnLoadSupervisionSectionArea(this);" class="btn btn-secondary pull-left checkbtnValue" value="Assigned Employee"><i class=""></i> Assigned Employee(s) </button>
            <button type="button" onclick="fnLoadSupervisionSectionArea(this);" class="btn btn-secondary pull-left checkbtnValue" value="Update Supervision"><i class=""></i> Update Supervision </button>

        </div>
    </div>
    <div class="div-Supervision-section-document-upload-area form-control">

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label">@Resources.Global.lblDocumentAttachment </label><br />
                    <input type="file" class="form-control" name="SupervisionSectionGovernmentDocumentFile" required id="SupervisionSectionGovernmentDocumentFile" onchange="validatePersonalDocument('SupervisionSectionGovernmentDocumentFile');" />
                </div>
            </div><div class="col-sm-6">  </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label lbl-startDate">@ProjectUI.ProjectUI.lblIssueDate</label> <span style="color:red">*</span> <br />
                    <input class="form-control" type="datetime" id="SupervisionSection_Document_StartDate" name="SupervisionSection_Document_StartDate" required />
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label lbl-endDate">@ProjectUI.ProjectUI.lblExpiryDate</label> <span style="color:red">*</span> <br />

                    <input class="form-control" type="datetime" id="SupervisionSection_Document_EndDate" name="SupervisionSection_Document_EndDate" required />
                </div>
            </div>
        </div>
        @*<div class="row">
                <div class="col-md-6">
                    <div class="">
                        <div class=" ">
                            <label class="col-form-label">.Select Finance</label>
                            <select name="supervsn_finance" id="supervsn_finance" class="form-control" multiple="multiple" required>
                                <option value="Owner">Owner</option>
                                <option value="SZHP">SZHP</option>
                                <option value="Government Of Sharjah">Government Of Sharjah</option>
                                <option value="Dewan">Dewan</option>
                                <option value="Emirates Islamic Bank">Emirates Islamic Bank</option>
                                <option value="Emirates Development Bank">Emirates Development Bank</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>*@
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label">@Resources.Global.lblRemarks</label>
                    <textarea class="form-control" id="SupervisionSection_Remarks" name="SupervisionSection_Remarks"></textarea>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success  pull-right" id="btn-save-supervision-section-government-documents"><i class="fa fa-save"></i> @Resources.Global.btnSave</button>
                    <a href="@Url.Action("List","Project")" class="btn btn-danger  pull-right  m-r-10" id=""> @Resources.Global.btnCancel</a>
                </div>
            </div>
        </div>
    </div>

</form>
<form id="frmAddUpdate_SupervisionSection_Update_area" name="frmAddUpdate_SupervisionSection_Update_area" action="/services/Xtreme/multipart" method="post">
    <input type="hidden" name="type" id="type" value="Project_SupervisionSection_Area_Save">
    <input type="hidden" name="SupervisionSection_Update_Area_Language" id="SupervisionSection_Update_Area_Language" value="">
    <input type="hidden" name="SupervisionSection_Update_Area_ProjectId" id="SupervisionSection_Update_Area_ProjectId" value="0">
    <div class="div-Supervision-section-update-supervision-area form-control" style="display:none;">

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label">.Contractor</label><span style="color:red"> *</span><br />
                    <input type="text" class="form-control pname" name="Project_SupervisionSection_Contractor_DDL" id="Project_SupervisionSection_Contractor_DDL" required>
                    <input type="hidden" class="form-control pname" name="Project_SupervisionSection_Contractor_Id" id="Project_SupervisionSection_Contractor_Id" value="0">
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label lbl-startDate">@ProjectUI.ProjectUI.lblIssueDate</label> <span style="color:red">*</span> <br />
                            <input class="form-control" type="datetime" id="ConstructionStartDate" name="ConstructionStartDate" required />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label  ">.ConstructionMonths</label>  <br />
                            <input class="form-control" type="number" id="ConstructionMonths" name="ConstructionMonths" value="0" />
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label lbl-endDate">@ProjectUI.ProjectUI.lblExpiryDate</label> <span style="color:red">*</span> <br />
                            <input class="form-control" type="datetime" id="ConstructionEndDate" name="ConstructionEndDate" required />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label lbl-ExtendedConstructionStartDate-startDate">.ExtendedConstructionStartDate</label> <span style="color:red">*</span> <br />
                            <input class="form-control" type="datetime" id="ExtendedConstructionStartDate" name="ExtendedConstructionStartDate"   />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label  ">.ExtendedConstructionMonths</label>  <br />
                            <input class="form-control" type="number" id="ExtendedConstructionMonths" name="ExtendedConstructionMonths" value="0" />
                        </div>
                    </div>


                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label lbl-ExtendedConstructionEndDate-endDate">.ExtendedConstructionEndDate</label> <span style="color:red">*</span> <br />
                            <input class="form-control" type="datetime" id="ExtendedConstructionEndDate" name="ExtendedConstructionEndDate"  />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label">.Finance</label><span style="color:red"> *</span><br />
                    @*<select class="form-control" multiple="multiple" name="Project_SupervisionSection_Finance_DDL" id="Project_SupervisionSection_Finance_DDL" required></select>*@
                <div id="avoidMultipleDDLappends">
                    <input type="text" class="form-control pname" name="Project_SupervisionSection_Finance_DDL[]" id="Project_SupervisionSection_Finance_DDL" multiple>
                    <input type="hidden" class="form-control pname" name="Project_SupervisionSection_Finance_Id" id="Project_SupervisionSection_Finance_Id" value="0">
                </div>
                </div>
            </div>
            <div class="col-md-6"> </div>

        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success  pull-right" id="btn-save-supervision-update-section-area"><i class="fa fa-save"></i> @Resources.Global.btnSave</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="div-Supervision-section-assigned-employees-area" style="display:none;">
    <br />
    <br />
    <strong>NOTE:</strong><span>Please select <b>section</b> and <b>sub section </b> for filter employees</span>
    <div class="grid-main-div">
        <div class="row">
            <div class="col-md-12">
                <div id="grid-load-supervision-section-all-assigned-employees">


                </div>
            </div>
        </div>
    </div>
</div>




<div class="div-Supervision-section-document-upload-area">
    @{
        Html.RenderPartial("~/Areas/Project/Views/Shared/PartialViews/Project/_Project_SupervisionSection_Document_Grid.cshtml");
    }

</div>
<div id="div-Supervision-section-employees-area"></div>
