


<form id="frmAddUpdate_DesignSection_Document" name="frmAddUpdate_DesignSection_Document" action="/services/Xtreme/multipart" method="post">


    <input type="hidden" name="DesignSection_Document_Id" id="DesignSection_Document_Id" value="0">
    <input type="hidden" name="DesignSection_Document_CreatedBy" id="DesignSection_Document_CreatedBy" value="0">
    <input type="hidden" name="DesignSection_Document_ProjectId" id="DesignSection_Document_ProjectId" value="0">
    <input type="hidden" name="type" id="type" value="Project_DesignSection_GovernmentDocument_Save">
    <input type="hidden" name="DesignSection_Document_Language" id="DesignSection_Document_Language" class="Language" value="">

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="col-form-label">@ProjectUI.ProjectUI.lblSection</label><span style="color:red"> *</span><br />
                <input class="form-control" id="Project_Section_Parent_Type_DDL" name="Project_Section_Parent_Type_DDL" required />
                <input type="hidden" class="form-control" id="Setup_SetupType_Id" name="Setup_SetupType_Id" value="0" />
            </div>
        </div>
        <div class="col-sm-6">

            <div class="form-group">
                <label class="col-form-label">@ProjectUI.ProjectUI.lblSubSection</label><span style="color:red"> *</span><br />
                <input type="text" class="form-control pname" name="Project_DesignSection_SetupDetailTypeDDL" id="Project_DesignSection_SetupDetailTypeDDL" required>
                <input type="hidden" class="form-control pname" name="Project_DesignSection_Entity_Id" id="Project_DesignSection_Entity_Id" value="0">
                <input type="hidden" class="form-control pname" name="Project_Section_Parent_Type_DDL_Text" id="Project_Section_Parent_Type_DDL_Text" value=" ">

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <button type="button" onclick="fnLoadDesignSectionArea(this);" class="btn btn-secondary pull-left active checkbtnValue" value="Upload Document"><i class=""></i> @ProjectUI.ProjectUI.lblUploadDocument</button>
            <button type="button" onclick="fnLoadDesignSectionArea(this);" class="btn btn-secondary pull-left checkbtnValue" value="Available Employee"><i class=""></i> @ProjectUI.ProjectUI.lblAvailableEmployees </button>
            <button type="button" onclick="fnLoadDesignSectionArea(this);" class="btn btn-secondary pull-left checkbtnValue" value="Assigned Employee"><i class=""></i> @ProjectUI.ProjectUI.lblAssignedEmployees </button>

        </div>
    </div>


    <div class="div-design-section-document-upload-area form-control">
        <div class="row">
            @*<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">@ProjectUI.ProjectUI.lblSubSection</label><span style="color:red"> *</span><br />
                        <input type="text" class="form-control pname" name="Project_DesignSection_SetupDetailTypeDDL" id="Project_DesignSection_SetupDetailTypeDDL" required>
                        <input type="hidden" class="form-control pname" name="Project_DesignSection_Entity_Id" id="Project_DesignSection_Entity_Id" value="0">
                        <input type="hidden" class="form-control pname" name="Project_Section_Parent_Type_DDL_Text" id="Project_Section_Parent_Type_DDL_Text" value=" ">
                    </div>
                </div>*@
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label">@Resources.Global.lblDocumentAttachment </label><br />
                    <input type="file" class="form-control" name="DesignSectionGovernmentDocumentFile" required id="DesignSectionGovernmentDocumentFile" onchange="validatePersonalDocument('DesignSectionGovernmentDocumentFile');" />
                </div>
            </div>
            <div class="col-sm-6"></div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label">@ProjectUI.ProjectUI.lblIssueDate</label> <span style="color:red">*</span> <br />
                    <input class="form-control" type="datetime" id="DesignSection_Document_StartDate" name="DesignSection_Document_StartDate" required />
                </div>
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label">@ProjectUI.ProjectUI.lblExpiryDate</label> <span style="color:red">*</span> <br />

                    <input class="form-control" type="datetime" id="DesignSection_Document_EndDate" name="DesignSection_Document_EndDate" required />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-form-label">@Resources.Global.lblRemarks</label>
                    <textarea class="form-control" id="DesignSection_Remarks" name="DesignSection_Remarks"></textarea>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-success  pull-right" id="btn-save-design-section-government-documents"><i class="fa fa-save"></i> @Resources.Global.btnSave</button>
                    <a href="@Url.Action("List","Project")" class="btn btn-danger  pull-right  m-r-10" id=""> @Resources.Global.btnCancel</a>
                </div>
            </div>
        </div>
    </div>
    <div class="div-show-only-for-design-section-employee-available-area form-control" style="display:none">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label">@ProjectUI.ProjectUI.lblAssign @HRModuleUI.HumanResourceUI.lblDate </label> <span style="color:red">*</span> <br />
                    <input class="form-control" type="datetime"  id="DesignSection_AssignedDocument_StartDate" value=""  />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label">@ProjectUI.ProjectUI.lblCompletionDate</label> <span style="color:red">*</span> <br />
                    @*<input class="form-control" type="date"  id="DesignSection_AssignedDocument_StartDate" value="@Convert.ToDateTime(DateTime.Today).ToString("yyyy-MM-dd")"  />*@
                    <input class="form-control" type="text"  id="DesignSection_AssignedDocument_CompletionDate" value=""  />
                </div>
            </div> 

            @*<div class="col-sm-6">
                <div class="form-group">
                    <label class="col-form-label">@ProjectUI.ProjectUI.lblExpiryDate</label> <span style="color:red">*</span> <br />

                    <input class="form-control" type="datetime" id="DesignSection_Document_EndDate" name="DesignSection_Document_EndDate" required />
                </div>
            </div>*@
        </div>
    </div>

</form>

<div class="div-design-section-assigned-employees-area" style="display:none;">
    <br />
    <br />
    <strong>NOTE:</strong><span>Please select <b>section</b> and <b>sub section </b> for filter employees</span>
    <div class="grid-main-div">
        <div class="row">
            <div class="col-md-12">
                <div id="grid-load-all-assigned-employees">

                </div>
            </div>
        </div>
    </div>
 </div>

<div class="div-design-section-document-upload-area">
    @{
        Html.RenderPartial("~/Areas/Project/Views/Shared/PartialViews/Project/_Project_DesignSection_Document_Grid.cshtml");
    }

</div>
<div  id="div-design-section-employees-area"></div>
