
@{
    ViewBag.Title = HRModuleUI.HumanResourceUI.lblForward;
}

<div class="card">
    <div class="card-block">

        <form id="frmEmployeeInternalLetter" name="frmEmployeeInternalLetter" action="/services/Xtreme/multipart" method="post">
            <input type="hidden" name="type" id="type" value="Employee_InternalLetter_Forward">
            <input type="hidden" name="Id" id="Id" value="0">
            <input type="hidden" name="CreatedBy" id="CreatedBy" value="0">
            <input type="hidden" name="Reciever_HR_Employee_Ids" id="Reciever_HR_Employee_Ids" value="0">
            <input type="hidden" name="Language" id="Language" value="">
            <input type="hidden" name="Tag" id="Tag" value="">

            <input type="hidden" name="LetterStatus" id="LetterStatus" value="Forward">
            <input type="hidden" class="form-control" id="DepartmentIds" name="DepartmentIds" />

            <input type="hidden" class="form-control" name="SignedBy" id="SignedBy" value="0" />
            <input type="hidden" class="form-control" name="Signature" id="Signature" value="" />
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblLetterNumber</label><span style="color:red">*</span><br />
                        <input type="text" class="form-control" name="LetterNumber" id="LetterNumber" required readonly />
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblDate</label> <span style="color:red">*</span> <br />
                        <input type="date" class="form-control" name="LetterDate" id="LetterDate" required>
                    </div>
                </div>
                <div class="col-sm-8"> </div>
            </div>
            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblSubject</label><span style="color:red"> *</span><br />
                        <input type="text" class="form-control pname" name="Subject" id="Subject" readonly required>
                    </div>
                </div>
                <div class="col-sm-6">  </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-form-label showAllSelecttedSection" style="font-size:x-large; text-decoration:underline"> </label> <br />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-form-label showAllSelecttedEmployee" style="font-size:x-large; text-decoration:underline"> </label> <br />

                    </div>
                </div>
            </div>
            <div class="row form-group">

                <div class="col-sm-12">
                    <div class="btn-group">
                        <button type="button" id="" data-toggle="modal" data-target="#modal-internal-letter-section-selection" class="btn btn-sm btn-outline-info    active" value="Pending"><i class=""></i> @HRModuleUI.HumanResourceUI.lblSection</button>

                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblAttachment</label> <span style="color:red">*</span> <br />
                        <input type="file" class="form-control" name="Attachment" multiple id="Attachment">
                    </div>
                </div>
                <div class="col-sm-10"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group" style="pointer-events:none;">
                        <textarea type="text" class="form-control editor" name="Body" id="Body" value=""></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class=" ">
                        <div id="noSignature" style="display:none;">
                            <button type="button" disabled class="btn btn-sm btn-danger @Resources.Common.PullRight m-r-10" style=" font-size: x-large;"> @HRModuleUI.HumanResourceUI.lblNoSignature</button>
                        </div>
                        <div id="loadSignature" style="display:none;">

                            <img src="" class="img-avatar  @Resources.Common.PullRight" id="loadEmployeeSignature" name="" style="border-radius:4%;width:200px;" alt="@HRModuleUI.HumanResourceUI.lblSignature">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <button type="button" class="btn btn-sm btn-success  @Resources.Common.PullRight  m-r-10" id="btnSave"><i class="fa fa-send"></i>@HRModuleUI.HumanResourceUI.lblSend</button>
                        <button type="button" class="btn btn-sm btn-warning @Resources.Common.PullRight  m-r-10" onclick="fnUploadEmployeeSignature();"><i class=""></i> @HRModuleUI.HumanResourceUI.lblSignature</button>

                    </div>
                </div>
            </div>
        </form>

        @* MODEL AREA START >>>>>>>>>>>>>>>>> *@

        <div class="modal fade" id="modal-internal-letter-section-selection" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"> </h4>
                    </div>
                    <div class="modal-body">


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-form-label">@HRModuleUI.HumanResourceUI.lblSection. </label> <span style="color: red">*</span><br />
                                    <input type="text" class="form-control" id="DepartmentId" name="DepartmentId" />



                                </div>
                            </div>
                        </div>
                        <div class="grid-main-div">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div id="load-employees-by-role-and-department"></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btnClose" data-dismiss="modal">@HRModuleUI.HumanResourceUI.lblClose</button>
                        <button type="button" class="btn btn-primary" value="Select" disabled id="btn-select-records-from-grid"><i class="fa fa-save"></i> @HRModuleUI.HumanResourceUI.lblSelect</button>
                    </div>
                </div>
            </div>
        </div>

        @* MODEL AREA END ----------------*@


    </div>
</div>
@section scripts {

    <script src="~/Scripts/FunctionalityJs/Areas/Employees/InternalLetter/internal-letter-forward.js?@System.Configuration.ConfigurationManager.AppSettings["JSVersion"]"></script>
}

