
@{
    ViewBag.Title = "Cash In Leave";
}

<div class="card">
    <div class="card-block">
        <form id="frmCashInLeave" name="frmCashInLeave" action="/services/Xtreme/multipart" method="post">
            <!--type is required should be same as command name-->
            <input type="hidden" name="type" id="type" value="Request_CashInLeave_Save" />
            <input type="hidden" name="Id" id="Id" value="0" />
            <input type="hidden" name="CreatedBy" id="CreatedBy" value="0" />
            <input type="hidden" name="Language" id="Language" value="" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>@HRModuleUI.HumanResourceUI.lblDays</label>
                        <input type="number" class="form-control" id="Days" name="Days" min="1" required onkeypress="return only1To9Allowed(event)" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>@HRModuleUI.HumanResourceUI.lblAvailableBalance </label>
                        <input type="text" class="form-control" id="AvailableBalance" name="AvailableBalance" readonly />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" id="btnSave" class="btn btn-success pull-right"><i class="fa fa-save"></i> @Resources.Global.btnSave</button>
                </div>
            </div>

        </form>

        <div class="grid-main-div">
            <div class="row">
                <div class="col-md-12">
                    <div id="CashInLeaveGrid"></div>
                </div>
            </div>
        </div>


    </div>
</div>
@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/Request/CashInLeave/cash-in-leave.js"></script>

    <script>
        //Grid columns
        var days = '@HRModuleUI.HumanResourceUI.lblDays';
        var comment = '@HRModuleUI.HumanResourceUI.lblComment';
        var requestDate = '@HRModuleUI.HumanResourceUI.lblRequestDate';
        var status = '@HRModuleUI.HumanResourceUI.lblStatus';
        var requestDeniedComment = '@HRModuleUI.HumanResourceUI.lblRequestDenyComment';

        var action = '@Resources.Global.lblAction';

    </script>
}

