
@{
    ViewBag.Title = ProjectUI.ProjectUI.lblClientDetails;


}


<input type="hidden" id="CreatedBy" name="CreatedBy" />
<input type="hidden" id="Id" name="Id" value="0" />
<input type="hidden" id="LoggedInUserId" name="LoggedInUserId" value="0" />
<input type="hidden" id="EmployeeId" name="LoggedInUserId" value="0" />
<div class="row">

</div>
<div class="card">
    <div class="card-block">
        <div class="row">
            <div class="col-sm-2 text-right">
                <img src="~/Content/Images/user.jpg" class="img-avatar" id="ProfileImage" name="ProfileImage" style="border-radius:4%;width:150px;" alt="@ProjectUI.ProjectUI.lblImage" />
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-3  ">@ProjectUI.ProjectUI.lblClientName</label>
                                    <h3>  <div class="col-xs-9 controls pull-right ClientName" id=""></div></h3>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div><hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-3  ">@ProjectUI.ProjectUI.lblPhone 1</label>
                                    <b>  <div class="col-xs-9 controls pull-right PhoneNumber1" id=""></div></b>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-3  ">@ProjectUI.ProjectUI.lblEmail 1</label>
                                    <b>
                                        <div class="col-xs-9 controls pull-right Email1" id=""></div>
                                    </b>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-3  ">@ProjectUI.ProjectUI.lblNationality</label>
                                    <b>
                                        <div class="col-xs-9 controls pull-right Nationality" id="">

                                        </div>
                                    </b>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                        <div class="row hideClient_signature">
                            <div class="col-sm-12">
                                <div class="row mgbt-xs-0">
                                    <label class="col-xs-3  ">@HRModuleUI.HumanResourceUI.lblSignature</label>
                                    <b>
                                        <img src="" class=" " id="ClientSignature" name="ClientSignature" style="border-radius:4%;width:100px;" alt="@ProjectUI.ProjectUI.lblImage" />
                                    </b>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                    </div>







                </div>


            </div>
        </div>


    </div>

</div>

<div class="card">
    <div class="card-block">
        <div class="row">
            <ul class="nav nav-tabs  tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#ClientInfo" role="tab">1.@ProjectUI.ProjectUI.lblClientInformation</a>

                </li>
                <li class="nav-item" onclick="fnCheckTab('ClientDocumentInformation');">
                    <a class="nav-link" data-toggle="tab" href="#ClientDocumentInformation" role="tab" id="PersonalDocumentTabLi">2.@ProjectUI.ProjectUI.lblClientDocumentInformation</a>
                </li>
                <li class="nav-item" onclick="fnCheckTab('ClientProjectInformation');">
                    <a class="nav-link" data-toggle="tab" href="#ClientProjectInformation" role="tab" id="PersonalDocumentTabLi">3.@ProjectUI.ProjectUI.lblClientProjectInformation</a>
                </li>
                <li class="nav-item" onclick="fnCheckTab('ClientMeetingInformation');">
                    <a class="nav-link" data-toggle="tab" href="#ClientMeetingInformation" role="tab" id="PersonalDocumentTabLi">4.@ProjectUI.ProjectUI.lblClientMeetingInformation</a>
                </li>
                <li class="nav-item" onclick="fnCheckTab('ClientProjectIssuesInformation');">
                    <a class="nav-link" data-toggle="tab" href="#ClientProjectIssuesInformation" role="tab" id="PersonalDocumentTabLi">5.@ProjectUI.ProjectUI.lblIssueInformation</a>
                </li>

            </ul>



            <!-- Tab panes -->
            <div class="tab-content tabs card-block">
                <div class="tab-pane active" id="ClientInfo" role="tabpanel">
                    @{
                        <div class="card profile-box flex-fill">
                            <div class="card-block">
                                <h4 class="card-title">@ProjectUI.ProjectUI.lblPersonalInformations<hr /></h4>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-md-5">

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row mgbt-xs-0">
                                                            <label class="col-xs-5  ">@ProjectUI.ProjectUI.lblClientName</label>
                                                            <div class="col-xs-7 controls pull-right ClientName" id=""></div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row mgbt-xs-0">
                                                            <label class="col-xs-5   ">@ProjectUI.ProjectUI.lblClientCreatedDate</label>
                                                            <div class="col-xs-7 controls pull-right ClientCreatedDate" id=""></div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row mgbt-xs-0">
                                                            <label class="col-xs-5  ">@ProjectUI.ProjectUI.lblPhone 1</label>
                                                            <div class="col-xs-7 controls pull-right PhoneNumber1" id=""></div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row mgbt-xs-0">
                                                            <label class="col-xs-5  ">@ProjectUI.ProjectUI.lblPhone 2</label>
                                                            <div class="col-xs-7 controls pull-right PhoneNumber2" id=""></div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row mgbt-xs-0">
                                                            <label class="col-xs-5  ">@ProjectUI.ProjectUI.lblEmail 1</label>
                                                            <div class="col-xs-7 controls pull-right Email1" id=""></div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row mgbt-xs-0">
                                                            <label class="col-xs-5  ">@ProjectUI.ProjectUI.lblEmail 2</label>
                                                            <div class="col-xs-7 controls pull-right Email2" id=""></div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row mgbt-xs-0">
                                                            <label class="col-xs-5  ">@Resources.Global.lblUsername</label>
                                                            <div class="col-xs-7 controls pull-right client-username" id=""></div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row mgbt-xs-0">
                                                            <label class="col-xs-5  ">@Resources.Global.lblPassword</label>
                                                            <div class="col-xs-7 controls pull-right client-password" id=""></div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-2"></div>

                                            <div class="col-md-5">



                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row mgbt-xs-0">
                                                            <label class="col-xs-5  ">@ProjectUI.ProjectUI.lblNationality</label>
                                                            <div class="col-xs-7 controls pull-right Nationality" id="">

                                                            </div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row mgbt-xs-0">
                                                            <label class="col-xs-5  ">@ProjectUI.ProjectUI.lblCity</label>
                                                            <div class="col-xs-7 controls pull-right ClientCity" id="">

                                                            </div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="row mgbt-xs-0">
                                                            <label class="col-xs-5  ">@ProjectUI.ProjectUI.lblLocation</label>
                                                            <div class="col-xs-7 controls pull-right ClientLocation" id="">
                                                            </div>
                                                            <!-- col-sm-10 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    @*<div class="col-sm-3 text-right">
                                        <img src="~/Content/Images/user.jpg" class="img-avatar" id="ProfileImage" name="ProfileImage" style="border-radius:4%;width:110px;" alt="@HRModuleUI.HumanResourceUI.lblProfileImage" />
                                    </div>*@
                                </div>


                            </div>
                        </div>

                    }

                </div>
                <div class="tab-pane" id="ClientDocumentInformation" role="tabpanel">
                    <div class=" ">

                        @*@{
                            Html.RenderPartial("~/Areas/Project/Views/Shared/PartialViews/ClientPartialViews/_ClientPersonalDocumentGridPartialView.cshtml");
                        }*@
                        <div class="card profile-box flex-fill">
                            <div class="card-block">
                                <div class="grid-main-div">
                                    <h4 class="card-title">@ProjectUI.ProjectUI.lblDocumentInformation<hr /></h4>

                                    <div id="div-client-personal-document"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane" id="ClientProjectInformation" role="tabpanel">
                    <div class="card profile-box flex-fill">
                        <div class="card-block">
                            <div class="grid-main-div">
                                <h4 class="card-title">@ProjectUI.ProjectUI.lblProjectInformation <hr /></h4>
                                <div id="grid-client-project-information"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane" id="ClientMeetingInformation" role="tabpanel">
                    <div class="card profile-box flex-fill">
                        <div class="card-block">
                            <div class="grid-main-div">
                                <h4 class="card-title">@ProjectUI.ProjectUI.lblClientMeetingInformation <hr /></h4>
                                <div id="grid-client-meeting-information"></div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="ClientProjectIssuesInformation" role="tabpanel">
                    <div class="card profile-box flex-fill">
                        <div class="card-block">
                            <div class="grid-main-div">
                                <h4 class="card-title">@ProjectUI.ProjectUI.lblIssueInformation <hr /></h4>
                                <div id="grid-client-project-issues-information"></div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

       
    </div>
</div>




@section scripts {
    <script src="~/Scripts/FunctionalityJs/Areas/Client/client-detail.js?+971502324409"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/Client/client-personal-document-grid-for-partialView.js?+971502324409"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/Client/client-project-information-grid.js?+971502324409"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/Client/client-meeting-information-grid.js?+971502324409"></script>
    <script src="~/Scripts/FunctionalityJs/Areas/Client/client-project-issues-information-grid.js?+971502324409"></script>

}


